<a href="https://colab.research.google.com/github/JH-Y-324/first-repository/blob/master/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("retailrocket/ecommerce-dataset")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.13), please consider upgrading to the latest version (0.4.3).
Downloading from https://www.kaggle.com/api/v1/datasets/download/retailrocket/ecommerce-dataset?dataset_version_number=2...

100%|██████████| 291M/291M [00:05<00:00, 60.7MB/s]

Extracting files...

Path to dataset files: /root/.cache/kagglehub/datasets/retailrocket/ecommerce-dataset/versions/2

In [3]:
import os

base_path = "/root/.cache/kagglehub/datasets/retailrocket/ecommerce-dataset/versions/2"
os.listdir(base_path)

['item_properties_part1.csv',
 'events.csv',
 'category_tree.csv',
 'item_properties_part2.csv']

In [4]:
import pandas as pd

events = pd.read_csv(f"{base_path}/events.csv")
prop1  = pd.read_csv(f"{base_path}/item_properties_part1.csv")
prop2  = pd.read_csv(f"{base_path}/item_properties_part2.csv")
cat    = pd.read_csv(f"{base_path}/category_tree.csv")

props = pd.concat([prop1, prop2], ignore_index=True)

# RetailRocket은 timestamp가 ms(밀리초)인 경우가 많아서 unit='ms'가 일반적입니다.
events["dt"] = pd.to_datetime(events["timestamp"], unit="ms")
props["dt"]  = pd.to_datetime(props["timestamp"], unit="ms")

events.head(), props.head(), cat.head()

(       timestamp  visitorid event  itemid  transactionid  \
 0  1433221332117     257597  view  355908            NaN
 1  1433224214164     992329  view  248676            NaN
 2  1433221999827     111016  view  318965            NaN
 3  1433221955914     483717  view  253185            NaN
 4  1433221337106     951259  view  367447            NaN

                        dt
 0 2015-06-02 05:02:12.117
 1 2015-06-02 05:50:14.164
 2 2015-06-02 05:13:19.827
 3 2015-06-02 05:12:35.914
 4 2015-06-02 05:02:17.106  ,
        timestamp  itemid    property                            value  \
 0  1435460400000  460429  categoryid                             1338
 1  1441508400000  206783         888          1116713 960601 n277.200
 2  1439089200000  395014         400  n552.000 639502 n720.000 424566
 3  1431226800000   59481         790                       n15360.000
 4  1431831600000  156781         917                           828513

                    dt
 0 2015-06-28 03:00:00
 1 2015-09-06 03:00:00
 2 2015-08-09 03:00:00
 3 2015-05-10 03:00:00
 4 2015-05-17 03:00:00  ,
    categoryid  parentid
 0        1016     213.0
 1         809     169.0
 2         570       9.0
 3        1691     885.0
 4         536    1691.0)

In [59]:
import numpy as np
import pandas as pd

# 1) 필요한 이벤트만
ev = events[events["event"].isin(["view", "addtocart", "transaction"])].copy()

# 2) 구매 플래그(거래ID 있는 transaction만 구매로 인정)
ev["is_buy"] = (ev["event"].eq("transaction")) & (ev["transactionid"].notna())

# 3) visitor-item 단위로 각 단계 "한 번이라도" 했는지 만들기
#    (transaction은 is_buy로)
view_flag = ev["event"].eq("view")
cart_flag = ev["event"].eq("addtocart")

user_item = (ev.assign(
                did_view=view_flag.astype(int),
                did_cart=cart_flag.astype(int),
                did_buy=ev["is_buy"].astype(int),
            )
            .groupby(["itemid", "visitorid"], as_index=False)[["did_view","did_cart","did_buy"]]
            .max()
           )

# 4) itemid별 퍼널 집계(유저 수)
funnel = (user_item
          .groupby("itemid", as_index=False)
          .agg(
              view_users=("did_view","sum"),
              cart_users=("did_cart","sum"),
              buy_users =("did_buy","sum"),
          ))

# 5) 전환율(0 나눗셈 방지)
funnel["view_to_cart"] = np.where(funnel["view_users"]>0, funnel["cart_users"]/funnel["view_users"], np.nan)
funnel["cart_to_buy"]  = np.where(funnel["cart_users"]>0, funnel["buy_users"] /funnel["cart_users"], np.nan)
funnel["view_to_buy"]  = np.where(funnel["view_users"]>0, funnel["buy_users"] /funnel["view_users"], np.nan)

# 6) 보기 좋게(예: 조회수 많은 순)
funnel = funnel.sort_values(["view_users","buy_users"], ascending=False)

funnel.head(20)

,itemid,view_users,cart_users,buy_users,view_to_cart,cart_to_buy,view_to_buy
94720,187946,2911,2,0,0.000687,0.000000,0.000000
2719,5411,2078,9,0,0.004331,0.000000,0.000000
186716,370653,1577,0,0,0.000000,NaN,0.000000
232496,461686,1379,267,129,0.193619,0.483146,0.093546
49024,96924,1359,0,0,0.000000,NaN,0.000000
110536,219512,1358,47,12,0.034610,0.255319,0.008837
150148,298009,1342,0,0,0.000000,NaN,0.000000
169261,335975,1154,0,0,0.000000,NaN,0.000000
193605,384302,1143,55,14,0.048119,0.254545,0.012248
76432,151444,1103,0,0,0.000000,NaN,0.000000
222448,441668,1078,31,10,0.028757,0.322581,0.009276
156023,309778,1053,45,15,0.042735,0.333333,0.014245
129504,257040,979,79,24,0.080695,0.303797,0.024515
117958,234255,967,69,16,0.071355,0.231884,0.016546
218935,434782,938,0,0,0.000000,NaN,0.000000
71944,142466,936,1,0,0.001068,0.000000,0.000000
56348,111530,923,37,8,0.040087,0.216216,0.008667
56952,112782,886,24,8,0.027088,0.333333,0.009029
51710,102306,858,0,0,0.000000,NaN,0.000000
46393,91755,851,0,0,0.000000,NaN,0.000000

In [61]:
(funnel.query("view_users >= 100")
      .sort_values("view_to_buy", ascending=False)
      .head(20))

,itemid,view_users,cart_users,buy_users,view_to_cart,cart_to_buy,view_to_buy
107690,213834,199,17,80,0.085427,4.705882,0.402010
168412,334401,130,7,24,0.053846,3.428571,0.184615
209597,416017,186,45,32,0.241935,0.711111,0.172043
60527,119736,251,30,42,0.119522,1.400000,0.167331
109584,217605,140,22,19,0.157143,0.863636,0.135714
46766,92466,124,28,16,0.225806,0.571429,0.129032
40924,80858,105,24,12,0.228571,0.500000,0.114286
145385,288525,149,15,16,0.100671,1.066667,0.107383
87904,174489,103,21,11,0.203883,0.523810,0.106796
125146,248455,291,41,31,0.140893,0.756098,0.106529
94076,186702,106,10,11,0.094340,1.100000,0.103774
176573,350384,137,27,14,0.197080,0.518519,0.102190
212061,420960,371,55,36,0.148248,0.654545,0.097035
231918,460553,134,15,13,0.111940,0.866667,0.097015
232496,461686,1379,267,129,0.193619,0.483146,0.093546
8209,16344,118,25,11,0.211864,0.440000,0.093220
8763,17478,378,65,35,0.171958,0.538462,0.092593
163302,324290,131,19,12,0.145038,0.631579,0.091603
178824,354881,124,23,11,0.185484,0.478261,0.088710
135463,268883,332,50,29,0.150602,0.580000,0.087349

In [62]:
(funnel.query("view_users >= 100 and cart_users >= 20")
      .assign(gap=lambda x: x["cart_to_buy"] - x["view_to_buy"])
      .sort_values("cart_to_buy", ascending=False)
      .head(20))

,itemid,view_users,cart_users,buy_users,view_to_cart,cart_to_buy,view_to_buy,gap
60527,119736,251,30,42,0.119522,1.400000,0.167331,1.232669
109584,217605,140,22,19,0.157143,0.863636,0.135714,0.727922
125146,248455,291,41,31,0.140893,0.756098,0.106529,0.649568
209597,416017,186,45,32,0.241935,0.711111,0.172043,0.539068
186006,369158,292,22,15,0.075342,0.681818,0.051370,0.630448
226651,450082,258,33,22,0.127907,0.666667,0.085271,0.581395
21276,42002,259,21,14,0.081081,0.666667,0.054054,0.612613
69916,138427,425,30,20,0.070588,0.666667,0.047059,0.619608
212061,420960,371,55,36,0.148248,0.654545,0.097035,0.557510
185647,368403,162,22,14,0.135802,0.636364,0.086420,0.549944
77598,153778,397,23,14,0.057935,0.608696,0.035264,0.573431
23374,46156,291,40,24,0.137457,0.600000,0.082474,0.517526
135463,268883,332,50,29,0.150602,0.580000,0.087349,0.492651
46766,92466,124,28,16,0.225806,0.571429,0.129032,0.442396
159407,316472,203,23,13,0.113300,0.565217,0.064039,0.501178
187469,372188,248,25,14,0.100806,0.560000,0.056452,0.503548
46468,91888,127,20,11,0.157480,0.550000,0.086614,0.463386
274,546,310,37,20,0.119355,0.540541,0.064516,0.476024
8763,17478,378,65,35,0.171958,0.538462,0.092593,0.445869
3980,7943,843,87,46,0.103203,0.528736,0.054567,0.474169

In [63]:
(funnel.query("view_users >= 100 and cart_users >= 20")
      .assign(gap=lambda x: x["cart_to_buy"] - x["view_to_buy"])
      .sort_values("cart_to_buy", ascending=False)
      .head(20))

,itemid,view_users,cart_users,buy_users,view_to_cart,cart_to_buy,view_to_buy,gap
60527,119736,251,30,42,0.119522,1.400000,0.167331,1.232669
109584,217605,140,22,19,0.157143,0.863636,0.135714,0.727922
125146,248455,291,41,31,0.140893,0.756098,0.106529,0.649568
209597,416017,186,45,32,0.241935,0.711111,0.172043,0.539068
186006,369158,292,22,15,0.075342,0.681818,0.051370,0.630448
226651,450082,258,33,22,0.127907,0.666667,0.085271,0.581395
21276,42002,259,21,14,0.081081,0.666667,0.054054,0.612613
69916,138427,425,30,20,0.070588,0.666667,0.047059,0.619608
212061,420960,371,55,36,0.148248,0.654545,0.097035,0.557510
185647,368403,162,22,14,0.135802,0.636364,0.086420,0.549944
77598,153778,397,23,14,0.057935,0.608696,0.035264,0.573431
23374,46156,291,40,24,0.137457,0.600000,0.082474,0.517526
135463,268883,332,50,29,0.150602,0.580000,0.087349,0.492651
46766,92466,124,28,16,0.225806,0.571429,0.129032,0.442396
159407,316472,203,23,13,0.113300,0.565217,0.064039,0.501178
187469,372188,248,25,14,0.100806,0.560000,0.056452,0.503548
46468,91888,127,20,11,0.157480,0.550000,0.086614,0.463386
274,546,310,37,20,0.119355,0.540541,0.064516,0.476024
8763,17478,378,65,35,0.171958,0.538462,0.092593,0.445869
3980,7943,843,87,46,0.103203,0.528736,0.054567,0.474169

In [64]:
funnel_ok = funnel.query("buy_users <= cart_users").copy()

funnel_ok = funnel_ok.assign(
    gap = funnel_ok["cart_to_buy"] - funnel_ok["view_to_buy"]
)

funnel_ok.sort_values("cart_to_buy", ascending=False).head(20)

,itemid,view_users,cart_users,buy_users,view_to_cart,cart_to_buy,view_to_buy,gap
71435,141461,31,2,2,0.064516,1.0,0.064516,0.935484
86845,172309,31,2,2,0.064516,1.0,0.064516,0.935484
90440,179494,31,2,2,0.064516,1.0,0.064516,0.935484
117785,233936,31,2,2,0.064516,1.0,0.064516,0.935484
124849,247862,31,2,2,0.064516,1.0,0.064516,0.935484
135833,269611,1,1,1,1.000000,1.0,1.000000,0.000000
138388,274731,1,1,1,1.000000,1.0,1.000000,0.000000
141214,280247,1,1,1,1.000000,1.0,1.000000,0.000000
141462,280752,1,1,1,1.000000,1.0,1.000000,0.000000
144864,287472,1,1,1,1.000000,1.0,1.000000,0.000000
146834,291403,1,1,1,1.000000,1.0,1.000000,0.000000
147292,292320,1,1,1,1.000000,1.0,1.000000,0.000000
150707,299164,1,1,1,1.000000,1.0,1.000000,0.000000
153579,304979,1,1,1,1.000000,1.0,1.000000,0.000000
178000,353222,1,1,1,1.000000,1.0,1.000000,0.000000
186482,370140,1,1,1,1.000000,1.0,1.000000,0.000000
202041,401076,1,1,1,1.000000,1.0,1.000000,0.000000
87522,173660,1,1,1,1.000000,1.0,1.000000,0.000000
91558,181712,1,1,1,1.000000,1.0,1.000000,0.000000
94097,186745,1,1,1,1.000000,1.0,1.000000,0.000000

In [65]:
ev = events[events["event"].isin(["view","addtocart","transaction"])].copy()
ev["is_buy"] = (ev["event"].eq("transaction")) & (ev["transactionid"].notna())

# visitor-item별 최초 발생 시각(없으면 NaT)
first = (ev.assign(
            t_view = ev["dt"].where(ev["event"].eq("view")),
            t_cart = ev["dt"].where(ev["event"].eq("addtocart")),
            t_buy  = ev["dt"].where(ev["is_buy"]),
        )
        .groupby(["itemid","visitorid"], as_index=False)
        .agg(
            t_view=("t_view","min"),
            t_cart=("t_cart","min"),
            t_buy =("t_buy","min"),
        ))

# 순서 조건 퍼널 플래그
first["did_view"] = first["t_view"].notna().astype(int)
first["did_cart"] = (first["t_cart"].notna() & (first["t_view"].notna()) & (first["t_cart"] >= first["t_view"])).astype(int)
first["did_buy"]  = (first["t_buy"].notna()  & (first["t_cart"].notna()) & (first["t_buy"]  >= first["t_cart"])).astype(int)

funnel_seq = (first.groupby("itemid", as_index=False)
                   .agg(view_users=("did_view","sum"),
                        cart_users=("did_cart","sum"),
                        buy_users =("did_buy","sum")))

funnel_seq["view_to_cart"] = np.where(funnel_seq["view_users"]>0, funnel_seq["cart_users"]/funnel_seq["view_users"], np.nan)
funnel_seq["cart_to_buy"]  = np.where(funnel_seq["cart_users"]>0, funnel_seq["buy_users"] /funnel_seq["cart_users"], np.nan)
funnel_seq["view_to_buy"]  = np.where(funnel_seq["view_users"]>0, funnel_seq["buy_users"] /funnel_seq["view_users"], np.nan)

funnel_seq.sort_values(["view_users","buy_users"], ascending=False).head(20)

,itemid,view_users,cart_users,buy_users,view_to_cart,cart_to_buy,view_to_buy
94720,187946,2911,0,0,0.000000,NaN,0.000000
2719,5411,2078,8,0,0.003850,0.000000,0.000000
186716,370653,1577,0,0,0.000000,NaN,0.000000
232496,461686,1379,251,120,0.182016,0.478088,0.087020
49024,96924,1359,0,0,0.000000,NaN,0.000000
110536,219512,1358,29,10,0.021355,0.344828,0.007364
150148,298009,1342,0,0,0.000000,NaN,0.000000
169261,335975,1154,0,0,0.000000,NaN,0.000000
193605,384302,1143,36,14,0.031496,0.388889,0.012248
76432,151444,1103,0,0,0.000000,NaN,0.000000
222448,441668,1078,29,9,0.026902,0.310345,0.008349
156023,309778,1053,41,13,0.038936,0.317073,0.012346
129504,257040,979,67,22,0.068437,0.328358,0.022472
117958,234255,967,41,15,0.042399,0.365854,0.015512
218935,434782,938,0,0,0.000000,NaN,0.000000
71944,142466,936,1,0,0.001068,0.000000,0.000000
56348,111530,923,34,8,0.036836,0.235294,0.008667
56952,112782,886,23,7,0.025959,0.304348,0.007901
51710,102306,858,0,0,0.000000,NaN,0.000000
46393,91755,851,0,0,0.000000,NaN,0.000000

# 이것

In [67]:
(funnel_seq.query("view_users >= 100")
          .sort_values("view_to_buy", ascending=False)
          .head(20))

,itemid,view_users,cart_users,buy_users,view_to_cart,cart_to_buy,view_to_buy
209597,416017,186,43,27,0.231183,0.627907,0.145161
40924,80858,105,24,12,0.228571,0.500000,0.114286
109584,217605,140,21,16,0.150000,0.761905,0.114286
87904,174489,103,17,10,0.165049,0.588235,0.097087
231918,460553,134,13,13,0.097015,1.000000,0.097015
125146,248455,291,40,27,0.137457,0.675000,0.092784
212061,420960,371,52,34,0.140162,0.653846,0.091644
163302,324290,131,19,12,0.145038,0.631579,0.091603
46766,92466,124,11,11,0.088710,1.000000,0.088710
178824,354881,124,22,11,0.177419,0.500000,0.088710
8763,17478,378,63,33,0.166667,0.523810,0.087302
232496,461686,1379,251,120,0.182016,0.478088,0.087020
129071,256146,107,12,9,0.112150,0.750000,0.084112
23374,46156,291,40,24,0.137457,0.600000,0.082474
60710,120098,110,18,9,0.163636,0.500000,0.081818
226651,450082,258,31,21,0.120155,0.677419,0.081395
176573,350384,137,20,11,0.145985,0.550000,0.080292
185647,368403,162,17,13,0.104938,0.764706,0.080247
46468,91888,127,15,10,0.118110,0.666667,0.078740
84245,167126,104,10,8,0.096154,0.800000,0.076923

In [68]:
(funnel_seq.query("view_users >= 500")
          .sort_values("view_to_cart", ascending=True)
          .head(20))

,itemid,view_users,cart_users,buy_users,view_to_cart,cart_to_buy,view_to_buy
8009,15948,620,0,0,0.0,NaN,0.0
14652,29100,666,0,0,0.0,NaN,0.0
51710,102306,858,0,0,0.0,NaN,0.0
55357,109618,513,0,0,0.0,NaN,0.0
46393,91755,851,0,0,0.0,NaN,0.0
49024,96924,1359,0,0,0.0,NaN,0.0
108646,215715,503,0,0,0.0,NaN,0.0
76432,151444,1103,0,0,0.0,NaN,0.0
94720,187946,2911,0,0,0.0,NaN,0.0
113669,225778,681,0,0,0.0,NaN,0.0
105748,209994,668,0,0,0.0,NaN,0.0
181163,359491,577,0,0,0.0,NaN,0.0
150148,298009,1342,0,0,0.0,NaN,0.0
146279,290250,571,0,0,0.0,NaN,0.0
144947,287664,505,0,0,0.0,NaN,0.0
117044,232509,684,0,0,0.0,NaN,0.0
159561,316779,532,0,0,0.0,NaN,0.0
169261,335975,1154,0,0,0.0,NaN,0.0
186716,370653,1577,0,0,0.0,NaN,0.0
208148,413166,574,0,0,0.0,NaN,0.0

# 이것

In [93]:
(funnel_seq.query("cart_users >= 50")
          .sort_values("cart_to_buy", ascending=True)
          .head(8))

,itemid,view_users,cart_users,buy_users,view_to_cart,cart_to_buy,view_to_buy
14707,29196,624,96,13,0.153846,0.135417,0.020833
157492,312728,602,114,22,0.189369,0.192982,0.036545
206467,409804,453,119,28,0.262693,0.235294,0.061810
23414,46232,469,56,15,0.119403,0.267857,0.031983
161235,320130,846,81,24,0.095745,0.296296,0.028369
129504,257040,979,67,22,0.068437,0.328358,0.022472
232496,461686,1379,251,120,0.182016,0.478088,0.087020
24339,48030,628,74,37,0.117834,0.500000,0.058917

In [79]:
itemids = (
    funnel_seq
    .query("cart_users >= 50")
    .sort_values("cart_to_buy", ascending=True)
    .head(8)["itemid"]
)

itemids

14707      29196
157492    312728
206467    409804
23414      46232
161235    320130
129504    257040
232496    461686
24339      48030
Name: itemid, dtype: int64

In [83]:
item_cat = (
    props[props["property"] == "categoryid"]
    .sort_values("dt")
    .drop_duplicates("itemid", keep="last")[["itemid", "value"]]
    .rename(columns={"value": "categoryid"})
)

target_cat = pd.DataFrame({"itemid": target_itemids}).merge(
    item_cat, on="itemid", how="left"
)

target_cat

   itemid categoryid
0   29196       1265
1  312728       1098
2  409804       1191
3   46232       1317
4  320130       1483
5  257040        683
6  461686       1037
7   48030       1219

# 이것

In [85]:
# 0) categoryid 타입을 int로 맞추기 (NaN 있을 수 있으니 to_numeric 사용)
target_cat["categoryid"] = pd.to_numeric(target_cat["categoryid"], errors="coerce")
cat["categoryid"] = pd.to_numeric(cat["categoryid"], errors="coerce")
cat["parentid"]   = pd.to_numeric(cat["parentid"], errors="coerce")

# 1) 2단계 조인용 맵 만들기
cat1 = cat.rename(columns={"categoryid": "categoryid", "parentid": "parentid"})
cat2 = cat.rename(columns={"categoryid": "parentid", "parentid": "grandparentid"})

# 2) 조부모까지 조인
target_3level = (target_cat
                 .merge(cat1, on="categoryid", how="left")
                 .merge(cat2, on="parentid", how="left"))

target_3level

   itemid  categoryid  parentid  grandparentid
0   29196        1265    1136.0           61.0
1  312728        1098     897.0           61.0
2  409804        1191      61.0          140.0
3   46232        1317     897.0           61.0
4  320130        1483     561.0          395.0
5  257040         683    1606.0         1684.0
6  461686        1037     402.0          143.0
7   48030        1219     121.0          540.0

# 이것

In [95]:
# funnel_seq: item 단위 퍼널( view_users, cart_users, buy_users, cart_to_buy 등)
# target_3level: itemid, categoryid, parentid, grandparentid

tmp = (funnel_seq.query("cart_users >= 50")
       .merge(target_3level[["itemid","grandparentid"]], on="itemid", how="left"))

# 조부모별 성과(가중 평균이 중요: carts를 weight로)
gp = (tmp.groupby("grandparentid", dropna=False)
      .agg(
          items=("itemid","nunique"),
          carts=("cart_users","sum"),
          buys=("buy_users","sum")
      )
      .reset_index())

gp["cart_to_buy_weighted"] = gp["buys"] / gp["carts"].clip(lower=1)

# carts 큰데 cart_to_buy 낮은 조부모 = 최우선 개선 타겟
gp.sort_values(["carts","cart_to_buy_weighted"], ascending=[False, True]).head(15)

   grandparentid  items  carts  buys  cart_to_buy_weighted
6            NaN      5    308   179              0.581169
0           61.0      3    266    50              0.187970
2          143.0      1    251   120              0.478088
1          140.0      1    119    28              0.235294
3          395.0      1     81    24              0.296296
4          540.0      1     74    37              0.500000
5         1684.0      1     67    22              0.328358

In [82]:
globals().keys()

dict_keys(['__name__', '__doc__', '__package__', '__loader__', '__spec__', '__builtin__', '__builtins__', '_ih', '_oh', '_dh', 'In', 'Out', 'get_ipython', 'exit', 'quit', '_', '__', '___', '_i', '_ii', '_iii', '_i1', '_i2', 'kagglehub', 'path', '_i3', 'os', 'base_path', '_3', '_i4', 'pd', 'events', 'prop1', 'prop2', 'cat', 'props', '_4', '_i5', 'cat_map', 'cat_map_latest', '_i6', 'events2', '_6', '_i7', 'funnel', '_7', '_i8', 'cat2', 'events3', '_8', '_i9', '_9', '_i10', '_10', '_i11', '_11', '_i12', '_i13', '_i14', 'np', 'StandardScaler', 'KMeans', '_i15', '_i16', '_i17', '_i18', '_i19', '_i20', '_i21', '_i22', 'tx', 'snapshot_date', 'rfm', '_22', '_i23', 'X', 'scaler', 'X_scaled', 'k', 'km', '_23', '_i24', 'c', 'cap', '_24', '_i25', 'rfm_summary', '_25', '_i26', '_i27', '_i28', '_i29', 'events_seg2', '_i30', 'seg_cat_buy2', 'top10_2', '_30', '_i31', 'seg_total', 'top10_2_share', '_31', '_i32', 'tx2', '_i33', 'seg_cat', 'cat_total', 'all_total', 'lift_top10', '_33', '_i34', '_i35', 'f', 'MIN_VIEW', 'low_conv', '_35', '_i36', 'low_conv2', '_36', '_i37', 'first_buy', 'repeat_buy', '_37', '_i38', '_i39', '_39', '_i40', '_40', '_i41', '_i42', '_42', '_i43', '_i44', '_i45', '_45', '_i46', '_i47', 'problem_both', '_47', '_i48', 'target_categories', 'only_targets', '_48', '_i49', 'ev', 'view_flag', 'cart_flag', 'user_item', '_49', '_i50', '_i51', 'funnel_users', '_i52', '_52', '_i53', '_53', '_i54', '_54', '_i55', '_55', '_i56', 'show', '_56', '_i57', '_57', '_i58', 'rate_cols', '_i59', '_59', '_i60', '_i61', '_61', '_i62', '_62', '_i63', '_63', '_i64', 'funnel_ok', '_64', '_i65', 'first', 'funnel_seq', '_65', '_i66', 'ev_item', '_66', '_i67', '_67', '_i68', '_68', '_i69', '_69', '_i70', '_70', '_i71', 'tmp', 'priority', '_71', '_i72', 'iid', 'cart_vis', 'other_buys', '_72', '_i73', '_i74', 'cart_visitors', 'alt', '_74', '_i75', 'buy_same', 'drop_vis', 't_cart', 'buys', 'alt_top', '_75', '_i76', 'top8', '_76', '_i77', 'top8_itemids', '_77', '_i78', '_i79', 'itemids', '_79', '_i80', '_i81', 'target_itemids', '_i82'])

In [77]:
top8_itemids = funnel_seq.head(8)["itemid"]
top8_itemids

0     3
1     4
2     6
3     9
4    15
5    16
6    17
7    19
Name: itemid, dtype: int64

In [71]:
tmp = funnel_seq.copy()
tmp["cart_drop_users"] = tmp["cart_users"] - tmp["buy_users"]  # 카트 담고 안 산 유저 수

priority = (tmp.query("view_users >= 1000 and cart_users >= 50")
              .sort_values(["cart_drop_users", "cart_users"], ascending=False)
              .head(30))

priority[["itemid","view_users","cart_users","buy_users","cart_drop_users","view_to_cart","cart_to_buy","view_to_buy"]]

,itemid,view_users,cart_users,buy_users,cart_drop_users,view_to_cart,cart_to_buy,view_to_buy
232496,461686,1379,251,120,131,0.182016,0.478088,0.08702

In [75]:
# iid = 232496

# # 1) 카트 유저
# cart_vis = set(ev.loc[(ev["itemid"].eq(iid)) & (ev["event"].eq("addtocart")), "visitorid"].unique())

# # 2) 해당 아이템을 구매한 유저
# buy_same = set(ev.loc[(ev["itemid"].eq(iid)) & (ev["is_buy"]), "visitorid"].unique())

# # 3) 카트했는데 이 아이템은 안 산 유저(= drop 유저)
# drop_vis = list(cart_vis - buy_same)

# # 4) (옵션) 카트 시각 이후 구매만 보도록 카트 최초 시각 구하기
# t_cart = (ev[(ev["itemid"].eq(iid)) & (ev["event"].eq("addtocart"))]
#           .groupby("visitorid")["dt"].min())

# buys = ev[(ev["is_buy"]) & (ev["visitorid"].isin(drop_vis))].copy()
# buys = buys.merge(t_cart.rename("t_cart"), on="visitorid", how="left")
# buys = buys[buys["dt"] >= buys["t_cart"]]   # 카트 이후 구매만

# # 5) 대체 구매(다른 itemid) Top 20
# alt_top = (buys[buys["itemid"].ne(iid)]
#            .groupby("itemid")["visitorid"]
#            .nunique()
#            .sort_values(ascending=False)
#            .head(20))

# alt_top

Series([], Name: visitorid, dtype: int64)

In [70]:
show = funnel_seq.copy()
for c in ["view_to_cart","cart_to_buy","view_to_buy"]:
    show[c] = (show[c]*100).round(2)

show.head(20)

,itemid,view_users,cart_users,buy_users,view_to_cart,cart_to_buy,view_to_buy
0,3,2,0,0,0.00,NaN,0.00
1,4,3,0,0,0.00,NaN,0.00
2,6,26,0,0,0.00,NaN,0.00
3,9,2,0,0,0.00,NaN,0.00
4,15,13,1,1,7.69,100.00,7.69
5,16,14,0,0,0.00,NaN,0.00
6,17,2,0,0,0.00,NaN,0.00
7,19,14,0,1,0.00,NaN,7.14
8,22,2,0,0,0.00,NaN,0.00
9,24,1,0,0,0.00,NaN,0.00
10,25,48,3,2,6.25,66.67,4.17
11,26,18,0,0,0.00,NaN,0.00
12,29,9,0,0,0.00,NaN,0.00
13,32,55,0,0,0.00,NaN,0.00
14,33,9,0,0,0.00,NaN,0.00
15,37,9,0,0,0.00,NaN,0.00
16,40,1,0,0,0.00,NaN,0.00
17,41,4,0,0,0.00,NaN,0.00
18,42,30,2,1,6.67,50.00,3.33
19,46,5,0,0,0.00,NaN,0.00

In [66]:
ev_item = ev[ev["itemid"].eq(94720)]
ev_item["event"].value_counts()

Series([], Name: count, dtype: int64)

In [60]:
show = funnel_users.copy()

rate_cols = ["view_to_cart", "cart_to_buy", "view_to_buy"]
for c in rate_cols:
    show[c] = (show[c] * 100).round(2)

show.sort_values("view_users", ascending=False).head(20)

KeyError: 'view_to_cart'

In [51]:
import numpy as np
import pandas as pd

ev = events[events["event"].isin(["view", "addtocart", "transaction"])].copy()
ev["is_buy"] = (ev["event"].eq("transaction")) & (ev["transactionid"].notna())

user_item = (ev.assign(
                did_view=ev["event"].eq("view").astype(int),
                did_cart=ev["event"].eq("addtocart").astype(int),
                did_buy =ev["is_buy"].astype(int),
            )
            .groupby(["itemid", "visitorid"], as_index=False)[["did_view","did_cart","did_buy"]]
            .max()
           )

funnel_users = (user_item
                .groupby("itemid", as_index=False)
                .agg(
                    view_users=("did_view","sum"),
                    cart_users=("did_cart","sum"),
                    buy_users =("did_buy","sum"),
                ))

funnel_users["uv_view_to_cart"] = np.where(funnel_users["view_users"]>0,
                                          funnel_users["cart_users"]/funnel_users["view_users"], np.nan)
funnel_users["uv_cart_to_buy"]  = np.where(funnel_users["cart_users"]>0,
                                          funnel_users["buy_users"]/funnel_users["cart_users"], np.nan)
funnel_users["uv_view_to_buy"]  = np.where(funnel_users["view_users"]>0,
                                          funnel_users["buy_users"]/funnel_users["view_users"], np.nan)

In [52]:
funnel_users.sort_values("view_users", ascending=False).head(20)

,itemid,view_users,cart_users,buy_users,uv_view_to_cart,uv_cart_to_buy,uv_view_to_buy
94720,187946,2911,2,0,0.000687,0.000000,0.000000
2719,5411,2078,9,0,0.004331,0.000000,0.000000
186716,370653,1577,0,0,0.000000,NaN,0.000000
232496,461686,1379,267,129,0.193619,0.483146,0.093546
49024,96924,1359,0,0,0.000000,NaN,0.000000
110536,219512,1358,47,12,0.034610,0.255319,0.008837
150148,298009,1342,0,0,0.000000,NaN,0.000000
169261,335975,1154,0,0,0.000000,NaN,0.000000
193605,384302,1143,55,14,0.048119,0.254545,0.012248
76432,151444,1103,0,0,0.000000,NaN,0.000000
222448,441668,1078,31,10,0.028757,0.322581,0.009276
156023,309778,1053,45,15,0.042735,0.333333,0.014245
129504,257040,979,79,24,0.080695,0.303797,0.024515
117958,234255,967,69,16,0.071355,0.231884,0.016546
218935,434782,938,0,0,0.000000,NaN,0.000000
71944,142466,936,1,0,0.001068,0.000000,0.000000
56348,111530,923,37,8,0.040087,0.216216,0.008667
56952,112782,886,24,8,0.027088,0.333333,0.009029
51710,102306,858,0,0,0.000000,NaN,0.000000
46393,91755,851,0,0,0.000000,NaN,0.000000

In [53]:
(funnel_users.query("view_users >= 50")
            .sort_values("uv_view_to_buy", ascending=False)
            .head(20))

,itemid,view_users,cart_users,buy_users,uv_view_to_cart,uv_cart_to_buy,uv_view_to_buy
107690,213834,199,17,80,0.085427,4.705882,0.402010
168412,334401,130,7,24,0.053846,3.428571,0.184615
180875,358895,63,13,11,0.206349,0.846154,0.174603
191416,379953,58,14,10,0.241379,0.714286,0.172414
209597,416017,186,45,32,0.241935,0.711111,0.172043
60527,119736,251,30,42,0.119522,1.400000,0.167331
82065,162745,61,9,9,0.147541,1.000000,0.147541
67809,134191,62,11,9,0.177419,0.818182,0.145161
70977,140527,77,26,11,0.337662,0.423077,0.142857
124152,246532,78,15,11,0.192308,0.733333,0.141026
192905,382885,95,17,13,0.178947,0.764706,0.136842
109584,217605,140,22,19,0.157143,0.863636,0.135714
122119,242521,52,9,7,0.173077,0.777778,0.134615
111040,220513,67,15,9,0.223881,0.600000,0.134328
219870,436549,60,9,8,0.150000,0.888889,0.133333
201068,399192,76,12,10,0.157895,0.833333,0.131579
46766,92466,124,28,16,0.225806,0.571429,0.129032
45989,90931,55,10,7,0.181818,0.700000,0.127273
88905,176484,88,20,11,0.227273,0.550000,0.125000
31546,62275,65,9,8,0.138462,0.888889,0.123077

In [54]:
funnel_users.sort_values("buy_users", ascending=False).head(20)

,itemid,view_users,cart_users,buy_users,uv_view_to_cart,uv_cart_to_buy,uv_view_to_buy
232496,461686,1379,267,129,0.193619,0.483146,0.093546
107690,213834,199,17,80,0.085427,4.705882,0.402010
3980,7943,843,87,46,0.103203,0.528736,0.054567
224330,445351,618,80,42,0.129450,0.525000,0.067961
60527,119736,251,30,42,0.119522,1.400000,0.167331
24339,48030,628,85,38,0.135350,0.447059,0.060510
157492,312728,602,129,37,0.214286,0.286822,0.061462
212061,420960,371,55,36,0.148248,0.654545,0.097035
8763,17478,378,65,35,0.171958,0.538462,0.092593
209597,416017,186,45,32,0.241935,0.711111,0.172043
125146,248455,291,41,31,0.140893,0.756098,0.106529
206467,409804,453,128,30,0.282561,0.234375,0.066225
186150,369447,601,68,30,0.113145,0.441176,0.049917
135463,268883,332,50,29,0.150602,0.580000,0.087349
161235,320130,846,131,27,0.154846,0.206107,0.031915
23374,46156,291,40,24,0.137457,0.600000,0.082474
129504,257040,979,79,24,0.080695,0.303797,0.024515
18735,37029,765,65,24,0.084967,0.369231,0.031373
168412,334401,130,7,24,0.053846,3.428571,0.184615
222558,441852,625,82,23,0.131200,0.280488,0.036800

In [56]:
show = funnel_users.copy()

for c in ["uv_view_to_cart", "uv_cart_to_buy", "uv_view_to_buy"]:
    show[c] = (show[c] * 100).round(2)

show.sort_values("view_users", ascending=False).head(20)

,itemid,view_users,cart_users,buy_users,uv_view_to_cart,uv_cart_to_buy,uv_view_to_buy
94720,187946,2911,2,0,0.07,0.00,0.00
2719,5411,2078,9,0,0.43,0.00,0.00
186716,370653,1577,0,0,0.00,NaN,0.00
232496,461686,1379,267,129,19.36,48.31,9.35
49024,96924,1359,0,0,0.00,NaN,0.00
110536,219512,1358,47,12,3.46,25.53,0.88
150148,298009,1342,0,0,0.00,NaN,0.00
169261,335975,1154,0,0,0.00,NaN,0.00
193605,384302,1143,55,14,4.81,25.45,1.22
76432,151444,1103,0,0,0.00,NaN,0.00
222448,441668,1078,31,10,2.88,32.26,0.93
156023,309778,1053,45,15,4.27,33.33,1.42
129504,257040,979,79,24,8.07,30.38,2.45
117958,234255,967,69,16,7.14,23.19,1.65
218935,434782,938,0,0,0.00,NaN,0.00
71944,142466,936,1,0,0.11,0.00,0.00
56348,111530,923,37,8,4.01,21.62,0.87
56952,112782,886,24,8,2.71,33.33,0.90
51710,102306,858,0,0,0.00,NaN,0.00
46393,91755,851,0,0,0.00,NaN,0.00

In [50]:
cat = (item_properties[item_properties["property"].eq("categoryid")]
       .sort_values("dt")
       .drop_duplicates("itemid", keep="last")[["itemid","value"]]
       .rename(columns={"value":"categoryid"}))

funnel_cat = funnel.merge(cat, on="itemid", how="left")
funnel_cat.head()

NameError: name 'item_properties' is not defined

In [5]:
# 1) categoryid만 추출
cat_map = props[props["property"] == "categoryid"].copy()
cat_map["categoryid"] = pd.to_numeric(cat_map["value"], errors="coerce")

# 2) item별 최신 categoryid 1개 선택 (category가 바뀌었을 수 있으니 dt 최신 기준)
cat_map_latest = (cat_map.sort_values("dt")
                  .groupby("itemid", as_index=False)
                  .tail(1)[["itemid", "categoryid"]])

In [6]:
events2 = events.merge(cat_map_latest, on="itemid", how="left")
events2.head()

,timestamp,visitorid,event,itemid,transactionid,dt,categoryid
0,1433221332117,257597,view,355908,NaN,2015-06-02 05:02:12.117,1173.0
1,1433224214164,992329,view,248676,NaN,2015-06-02 05:50:14.164,1231.0
2,1433221999827,111016,view,318965,NaN,2015-06-02 05:13:19.827,NaN
3,1433221955914,483717,view,253185,NaN,2015-06-02 05:12:35.914,914.0
4,1433221337106,951259,view,367447,NaN,2015-06-02 05:02:17.106,491.0

In [7]:
funnel = (events2.pivot_table(index="categoryid", columns="event",
                              values="visitorid", aggfunc="nunique")
          .fillna(0))

funnel["view_to_cart"] = funnel.get("addtocart", 0) / funnel.get("view", 1)
funnel["cart_to_buy"]  = funnel.get("transaction", 0) / funnel.get("addtocart", 1)
funnel["view_to_buy"]  = funnel.get("transaction", 0) / funnel.get("view", 1)

funnel.sort_values("view_to_buy", ascending=False).head(20)

event,addtocart,transaction,view,view_to_cart,cart_to_buy,view_to_buy
categoryid,,,,,,
555.0,4.0,3.0,11.0,0.363636,0.750000,0.272727
1013.0,0.0,6.0,31.0,0.000000,inf,0.193548
1467.0,2.0,1.0,8.0,0.250000,0.500000,0.125000
1215.0,9.0,4.0,36.0,0.250000,0.444444,0.111111
152.0,2.0,2.0,20.0,0.100000,1.000000,0.100000
1275.0,8.0,3.0,31.0,0.258065,0.375000,0.096774
1200.0,1.0,2.0,21.0,0.047619,2.000000,0.095238
4.0,12.0,9.0,96.0,0.125000,0.750000,0.093750
747.0,9.0,3.0,33.0,0.272727,0.333333,0.090909
1523.0,17.0,7.0,87.0,0.195402,0.411765,0.080460
57.0,83.0,71.0,922.0,0.090022,0.855422,0.077007
1072.0,36.0,17.0,224.0,0.160714,0.472222,0.075893
669.0,12.0,5.0,68.0,0.176471,0.416667,0.073529
417.0,162.0,69.0,942.0,0.171975,0.425926,0.073248
1037.0,358.0,160.0,2188.0,0.163620,0.446927,0.073126
147.0,31.0,14.0,193.0,0.160622,0.451613,0.072539
1411.0,1.0,1.0,14.0,0.071429,1.000000,0.071429
129.0,2.0,1.0,14.0,0.142857,0.500000,0.071429
340.0,13.0,9.0,130.0,0.100000,0.692308,0.069231
1074.0,34.0,16.0,237.0,0.143460,0.470588,0.067511

In [8]:
cat2 = cat.rename(columns={"parentid": "parent_categoryid"})
events3 = events2.merge(cat2, on="categoryid", how="left")
events3[["itemid", "categoryid", "parent_categoryid"]].head()

   itemid  categoryid  parent_categoryid
0  355908      1173.0              805.0
1  248676      1231.0              901.0
2  318965         NaN                NaN
3  253185       914.0              226.0
4  367447       491.0              679.0

In [9]:
events2["categoryid"].isna().mean()   # 카테고리 누락 비율

np.float64(0.09273426481830672)

In [10]:

events["event"].value_counts()        # 이벤트 종류/분포

event
view           2664312
addtocart        69332
transaction      22457
Name: count, dtype: int64

In [11]:
events2.groupby("event")["categoryid"].apply(lambda s: s.notna().mean())  # 이벤트별 매핑률

event
addtocart      0.987985
transaction    0.978848
view           0.904562
Name: categoryid, dtype: float64

In [22]:
import pandas as pd

# 구매 로그만
tx = events2[events2["event"] == "transaction"].copy()

# 분석 기준 날짜(데이터의 마지막 시점 다음날로 두는 게 일반적)
snapshot_date = events2["dt"].max() + pd.Timedelta(days=1)

# RFM 산출
rfm = (tx.groupby("visitorid")
         .agg(
             Recency=("dt", lambda x: (snapshot_date - x.max()).days),
             Frequency=("transactionid", "nunique"),   # 거래 수
             Monetary=("itemid", "count")              # 매출이 없으니 "구매 아이템 수"로 대체
         )
         .reset_index())
rfm.head()

   visitorid  Recency  Frequency  Monetary
0        172       35          1         2
1        186       37          1         1
2        264       11          1         2
3        419       51          1         1
4        539       94          1         1

In [23]:
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

X = rfm[["Recency","Frequency","Monetary"]].copy()

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

k = 4  # 예: 4개 세그먼트(원하시면 엘보우로 k 찾는 코드도 드릴게요)
km = KMeans(n_clusters=k, random_state=42, n_init="auto")
rfm["segment"] = km.fit_predict(X_scaled)

rfm["segment"].value_counts()

segment
1    6023
0    5674
2      21
3       1
Name: count, dtype: int64

In [24]:
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

X = rfm[["Recency","Frequency","Monetary"]].copy()

# (A) 로그 변환: Frequency/Monetary는 보통 치우침이 심함
X["Frequency"] = np.log1p(X["Frequency"])
X["Monetary"]  = np.log1p(X["Monetary"])

# (B) 상위 1% 캡(원하시면 0.5%/2% 등 조정)
for c in ["Recency","Frequency","Monetary"]:
    cap = X[c].quantile(0.99)
    X[c] = np.minimum(X[c], cap)

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

km = KMeans(n_clusters=4, random_state=42, n_init="auto")
rfm["segment2"] = km.fit_predict(X_scaled)

rfm["segment2"].value_counts()

segment2
3    4108
0    3572
1    3498
2     541
Name: count, dtype: int64

# 이거

In [25]:
rfm_summary = (rfm.groupby("segment2")[["Recency","Frequency","Monetary"]]
               .agg(["count","mean","median","min","max"]))

# 보기 좋게 정렬(구매 빈도/규모 큰 순)
rfm_summary = rfm_summary.sort_values([("Frequency","mean"), ("Monetary","mean")], ascending=False)

rfm_summary

         Recency                             Frequency                        \
           count        mean median min  max     count       mean median min
segment2
2            541   62.517560   61.0   1  138       541  10.970425    3.0   1
1           3498  117.439680  117.5  89  138      3498   1.064608    1.0   1
0           3572   25.153415   25.0   1   53      3572   1.052352    1.0   1
3           4108   72.046738   72.0  49   95      4108   1.035540    1.0   1

              Monetary
          max    count       mean median min  max
segment2
2         502      541  15.630314    5.0   3  559
1           2     3498   1.278159    1.0   1    8
0           2     3572   1.271837    1.0   1    7
3           2     4108   1.213973    1.0   1    6

In [35]:
f = (events_seg2.dropna(subset=["categoryid"])
     .pivot_table(index=["segment2","categoryid"], columns="event",
                  values="visitorid", aggfunc="nunique")
     .fillna(0)
     .reset_index())

f["view_to_buy"] = f.get("transaction",0) / f.get("view",1)

MIN_VIEW = 100  # 노이즈 제거(조정 가능)
low_conv = (f.query("view >= @MIN_VIEW")
            .sort_values(["segment2","view_to_buy"], ascending=[True,True])
            .groupby("segment2").head(10))
low_conv[low_conv["segment2"] == 2].head(4)

event  segment2  categoryid  addtocart  transaction   view  view_to_buy
1665        2.0       808.0       15.0         20.0  105.0     0.190476
1378        2.0        48.0       40.0         33.0  113.0     0.292035
1844        2.0      1279.0       39.0         35.0  115.0     0.304348
1542        2.0       491.0       54.0         46.0  150.0     0.306667

# 이거

In [92]:
import numpy as np
import pandas as pd

ev = events_seg2.dropna(subset=["categoryid"]).copy()

# 타입 정리(조인/비교 안정)
ev["categoryid"] = pd.to_numeric(ev["categoryid"], errors="coerce")
ev = ev.dropna(subset=["categoryid"])
ev["categoryid"] = ev["categoryid"].astype("int64")

# 구매 정의(원하시면 transactionid 조건 제거 가능)
ev["is_buy"] = (ev["event"].eq("transaction")) & (ev["transactionid"].notna())

# visitor × segment2 × categoryid 단위로 각 단계의 "최초 발생 시각" 구하기
first = (ev.assign(
            t_view = ev["dt"].where(ev["event"].eq("view")),
            t_cart = ev["dt"].where(ev["event"].eq("addtocart")),
            t_buy  = ev["dt"].where(ev["is_buy"]),
        )
        .groupby(["segment2","categoryid","visitorid"], as_index=False)
        .agg(
            t_view=("t_view","min"),
            t_cart=("t_cart","min"),
            t_buy =("t_buy","min"),
        ))

# 순서 조건(논리 일관성)
first["did_view"] = first["t_view"].notna()
first["did_cart"] = first["t_cart"].notna() & first["did_view"] & (first["t_cart"] >= first["t_view"])
first["did_buy"]  = first["t_buy"].notna()  & first["did_cart"] & (first["t_buy"]  >= first["t_cart"])

# segment2 × categoryid 기준 유저 수 집계
f_seq = (first.groupby(["segment2","categoryid"], as_index=False)
              .agg(
                  view=("did_view","sum"),
                  addtocart=("did_cart","sum"),
                  transaction=("did_buy","sum"),
              ))

# 전환율(0 나눗셈 방지)
f_seq["view_to_cart"] = np.where(f_seq["view"]>0, f_seq["addtocart"]/f_seq["view"], np.nan)
f_seq["cart_to_buy"]  = np.where(f_seq["addtocart"]>0, f_seq["transaction"]/f_seq["addtocart"], np.nan)
f_seq["view_to_buy"]  = np.where(f_seq["view"]>0, f_seq["transaction"]/f_seq["view"], np.nan)

# 기존 코드처럼 low_conv 뽑기
MIN_VIEW = 100
low_conv_seq = (f_seq.query("view >= @MIN_VIEW")
                .sort_values(["segment2","view_to_buy"], ascending=[True, True])
                .groupby("segment2")
                .head(10))

low_conv_seq[low_conv_seq["segment2"] == 2].head(4)

,segment2,categoryid,view,addtocart,transaction,view_to_cart,cart_to_buy,view_to_buy
1759,2.0,808,105,15,14,0.142857,0.933333,0.133333
1392,2.0,57,111,25,18,0.225225,0.720000,0.162162
1603,2.0,491,150,45,36,0.300000,0.800000,0.240000
1387,2.0,48,113,36,28,0.318584,0.777778,0.247788

In [94]:
seg = 2
check = (f_seq.query("segment2 == @seg and view >= @MIN_VIEW")
         .sort_values("view_to_buy", ascending=True)
         .head(20))
check

,segment2,categoryid,view,addtocart,transaction,view_to_cart,cart_to_buy,view_to_buy
1759,2.0,808,105,15,14,0.142857,0.933333,0.133333
1392,2.0,57,111,25,18,0.225225,0.720000,0.162162
1603,2.0,491,150,45,36,0.300000,0.800000,0.240000
1387,2.0,48,113,36,28,0.318584,0.777778,0.247788
1997,2.0,1279,115,38,34,0.330435,0.894737,0.295652
1962,2.0,1219,104,38,32,0.365385,0.842105,0.307692
1980,2.0,1248,102,40,32,0.392157,0.800000,0.313725
1526,2.0,342,146,62,48,0.424658,0.774194,0.328767
1698,2.0,683,103,42,36,0.407767,0.857143,0.349515
2049,2.0,1384,104,42,37,0.403846,0.880952,0.355769
1947,2.0,1192,104,41,37,0.394231,0.902439,0.355769
2069,2.0,1421,110,46,41,0.418182,0.891304,0.372727
2122,2.0,1529,102,45,39,0.441176,0.866667,0.382353
1453,2.0,196,128,58,49,0.453125,0.844828,0.382812
1406,2.0,84,107,51,41,0.476636,0.803922,0.383178
1920,2.0,1135,112,55,43,0.491071,0.781818,0.383929
1653,2.0,589,117,54,45,0.461538,0.833333,0.384615
1422,2.0,126,101,45,39,0.445545,0.866667,0.386139
2129,2.0,1542,123,56,51,0.455285,0.910714,0.414634
1667,2.0,618,126,60,53,0.476190,0.883333,0.420635

In [86]:
cat_map = cat.set_index("categoryid")["parentid"].to_dict()

def get_path(cid, max_depth=20):
    path = []
    cur = cid
    for _ in range(max_depth):
        if pd.isna(cur):
            break
        path.append(int(cur))
        cur = cat_map.get(cur, np.nan)
    return path

target_3level["path_to_root"] = target_3level["categoryid"].apply(get_path)
target_3level[["itemid","categoryid","path_to_root"]]

   itemid  categoryid             path_to_root
0   29196        1265    [1265, 1136, 61, 140]
1  312728        1098     [1098, 897, 61, 140]
2  409804        1191          [1191, 61, 140]
3   46232        1317     [1317, 897, 61, 140]
4  320130        1483         [1483, 561, 395]
5  257040         683  [683, 1606, 1684, 1600]
6  461686        1037   [1037, 402, 143, 1482]
7   48030        1219    [1219, 121, 540, 140]

In [87]:
from collections import Counter

cnt = Counter([cid for path in target_3level["path_to_root"] for cid in path])
pd.Series(cnt).sort_values(ascending=False)

140     5
61      4
897     2
1265    1
1136    1
1098    1
1191    1
1317    1
1483    1
561     1
395     1
683     1
1606    1
1684    1
1600    1
1037    1
402     1
143     1
1482    1
1219    1
121     1
540     1
dtype: int64

In [88]:
common = set(target_3level["path_to_root"].iloc[0])
for path in target_3level["path_to_root"].iloc[1:]:
    common &= set(path)

common

set()

In [89]:
def get_level(path, k):
    return path[k] if len(path) > k else np.nan

tmp = target_3level.copy()
tmp["lvl0"] = tmp["path_to_root"].apply(lambda p: get_level(p, 0))  # 자기 category
tmp["lvl1"] = tmp["path_to_root"].apply(lambda p: get_level(p, 1))  # 부모
tmp["lvl2"] = tmp["path_to_root"].apply(lambda p: get_level(p, 2))  # 조부모
tmp["lvl3"] = tmp["path_to_root"].apply(lambda p: get_level(p, 3))  # 증조부모(있으면)

tmp[["itemid","lvl0","lvl1","lvl2","lvl3","path_to_root"]]

   itemid  lvl0  lvl1  lvl2    lvl3             path_to_root
0   29196  1265  1136    61   140.0    [1265, 1136, 61, 140]
1  312728  1098   897    61   140.0     [1098, 897, 61, 140]
2  409804  1191    61   140     NaN          [1191, 61, 140]
3   46232  1317   897    61   140.0     [1317, 897, 61, 140]
4  320130  1483   561   395     NaN         [1483, 561, 395]
5  257040   683  1606  1684  1600.0  [683, 1606, 1684, 1600]
6  461686  1037   402   143  1482.0   [1037, 402, 143, 1482]
7   48030  1219   121   540   140.0    [1219, 121, 540, 140]

In [90]:
cat[cat["parentid"].eq(61)].head(50)

      categoryid  parentid
261          897      61.0
878         1688      61.0
879         1003      61.0
881         1058      61.0
1366        1136      61.0
1367         323      61.0
1368        1430      61.0
1609        1191      61.0

In [91]:
cat[cat["parentid"].eq(140)].head(50)

      categoryid  parentid
181          540     140.0
235         1486     140.0
253         1311     140.0
882           61     140.0
1354         409     140.0
1355         384     140.0
1364         920     140.0
1631         164     140.0
1637        1519     140.0

In [43]:
f["view_to_cart"] = f.get("addtocart",0) / f.get("view",1)

In [44]:
f["cart_to_buy"] = f.get("transaction",0) / f.get("addtocart",1)

In [46]:
# f.query("segment2 == 2 and view >= 100") \
#  .sort_values("view_to_buy") \
#  .head(10)

In [48]:
target_categories = [48, 1279, 491, 342]

only_targets = (
    f.query("segment2 == 2 and view >= 100 and cart_to_buy <= 1")
     .loc[f["categoryid"].isin(target_categories)]
     .sort_values(["view_to_cart", "cart_to_buy"])
)

only_targets

event,segment2,categoryid,addtocart,transaction,view,view_to_buy,view_to_cart,cart_to_buy
1844,2.0,1279.0,39.0,35.0,115.0,0.304348,0.339130,0.897436
1378,2.0,48.0,40.0,33.0,113.0,0.292035,0.353982,0.825000
1542,2.0,491.0,54.0,46.0,150.0,0.306667,0.360000,0.851852
1483,2.0,342.0,66.0,56.0,146.0,0.383562,0.452055,0.848485

In [36]:
low_conv2 = low_conv.copy()

low_conv2["view_to_cart"] = low_conv2["addtocart"] / low_conv2["view"].replace(0, 1)
low_conv2["cart_to_buy"]  = low_conv2["transaction"] / low_conv2["addtocart"].replace(0, 1)

low_conv2.sort_values(["segment2","view_to_buy"], ascending=[True, True])

event,segment2,categoryid,addtocart,transaction,view,view_to_buy,view_to_cart,cart_to_buy
397,0.0,1051.0,76.0,87.0,125.0,0.696000,0.608000,1.144737
578,0.0,1483.0,95.0,100.0,137.0,0.729927,0.693431,1.052632
64,0.0,196.0,78.0,82.0,112.0,0.732143,0.696429,1.051282
359,0.0,959.0,85.0,100.0,122.0,0.819672,0.696721,1.176471
822,1.0,491.0,59.0,61.0,128.0,0.476562,0.460938,1.033898
1179,1.0,1483.0,60.0,67.0,119.0,0.563025,0.504202,1.116667
977,1.0,959.0,62.0,70.0,108.0,0.648148,0.574074,1.129032
1665,2.0,808.0,15.0,20.0,105.0,0.190476,0.142857,1.333333
1378,2.0,48.0,40.0,33.0,113.0,0.292035,0.353982,0.825000
1844,2.0,1279.0,39.0,35.0,115.0,0.304348,0.339130,0.897436
1542,2.0,491.0,54.0,46.0,150.0,0.306667,0.360000,0.851852
1805,2.0,1192.0,42.0,37.0,104.0,0.355769,0.403846,0.880952
1815,2.0,1219.0,43.0,37.0,104.0,0.355769,0.413462,0.860465
1615,2.0,683.0,42.0,37.0,103.0,0.359223,0.407767,0.880952
1891,2.0,1384.0,44.0,38.0,104.0,0.365385,0.423077,0.863636
1483,2.0,342.0,66.0,56.0,146.0,0.383562,0.452055,0.848485
1403,2.0,126.0,46.0,41.0,101.0,0.405941,0.455446,0.891304
2363,3.0,491.0,57.0,63.0,122.0,0.516393,0.467213,1.105263
2549,3.0,1051.0,76.0,79.0,128.0,0.617188,0.593750,1.039474
2718,3.0,1483.0,90.0,92.0,143.0,0.643357,0.629371,1.022222
2512,3.0,959.0,103.0,112.0,137.0,0.817518,0.751825,1.087379

In [37]:
tx2 = events_seg2[events_seg2["event"]=="transaction"].dropna(subset=["transactionid","categoryid"])

first_buy = (tx2.sort_values("dt")
             .groupby("visitorid").head(1)[["visitorid","segment2","categoryid"]])

repeat_buy = (tx2.groupby("visitorid")["transactionid"].nunique().reset_index(name="freq")
              .merge(first_buy, on="visitorid", how="left"))

# 세그먼트별 첫구매 카테고리 TOP
(first_buy.groupby(["segment2","categoryid"]).size()
 .reset_index(name="first_cnt")
 .sort_values(["segment2","first_cnt"], ascending=[True,False])
 .groupby("segment2").head(10))

      segment2  categoryid  first_cnt
263        0.0       959.0         92
45         0.0       196.0         74
294        0.0      1051.0         73
431        0.0      1483.0         71
288        0.0      1037.0         64
21         0.0        84.0         52
91         0.0       342.0         51
322        0.0      1163.0         46
240        0.0       858.0         45
444        0.0      1542.0         45
670        1.0       683.0         61
903        1.0      1483.0         60
733        1.0       959.0         59
498        1.0        48.0         57
620        1.0       491.0         56
920        1.0      1542.0         56
652        1.0       618.0         51
766        1.0      1051.0         51
571        1.0       342.0         50
886        1.0      1421.0         49
1006       2.0       342.0         12
1084       2.0       959.0         12
1178       2.0      1542.0         10
1168       2.0      1483.0          9
982        2.0       126.0          8
1057       2.0       686.0          8
1033       2.0       491.0          7
1039       2.0       535.0          7
1058       2.0       707.0          7
1094       2.0      1037.0          7
1451       3.0       959.0        104
1484       3.0      1051.0         73
1622       3.0      1483.0         68
1634       3.0      1542.0         67
1288       3.0       342.0         62
1245       3.0       196.0         61
1386       3.0       683.0         60
1630       3.0      1529.0         58
1333       3.0       491.0         55
1531       3.0      1219.0         55

In [38]:
events_seg2 = events2.merge(rfm[["visitorid", "segment2"]], on="visitorid", how="left")

In [39]:
seg_cat_buy2 = (events_seg2[events_seg2["event"] == "transaction"]
                .dropna(subset=["categoryid", "transactionid"])
                .groupby(["segment2", "categoryid"])["transactionid"]
                .nunique()
                .reset_index(name="tx_cnt"))

top10_2 = (seg_cat_buy2.sort_values(["segment2", "tx_cnt"], ascending=[True, False])
           .groupby("segment2")
           .head(10))

top10_2

      segment2  categoryid  tx_cnt
281        0.0       959.0     102
460        0.0      1483.0     100
313        0.0      1051.0      90
50         0.0       196.0      83
344        0.0      1163.0      73
307        0.0      1037.0      72
22         0.0        84.0      63
474        0.0      1542.0      59
97         0.0       342.0      57
142        0.0       491.0      55
787        1.0       959.0      77
970        1.0      1483.0      69
700        1.0       618.0      67
718        1.0       683.0      66
664        1.0       491.0      64
534        1.0        48.0      62
952        1.0      1421.0      61
990        1.0      1542.0      60
613        1.0       342.0      59
821        1.0      1051.0      59
1402       2.0      1051.0     253
1364       2.0       959.0     226
1565       2.0      1483.0     183
1255       2.0       618.0     129
1059       2.0        57.0     120
1098       2.0       196.0      97
1583       2.0      1542.0      90
1153       2.0       342.0      88
1436       2.0      1135.0      88
1042       2.0         5.0      86
1903       3.0       959.0     116
2087       3.0      1483.0      94
1938       3.0      1051.0      80
2101       3.0      1542.0      72
1729       3.0       342.0      70
1685       3.0       196.0      67
1973       3.0      1163.0      65
1776       3.0       491.0      64
1833       3.0       683.0      64
1989       3.0      1219.0      64

In [40]:
seg_total = seg_cat_buy2.groupby("segment2")["tx_cnt"].sum().reset_index(name="seg_total")

top10_2_share = top10_2.merge(seg_total, on="segment2", how="left")
top10_2_share["share_in_segment"] = top10_2_share["tx_cnt"] / top10_2_share["seg_total"]

top10_2_share.sort_values(["segment2", "share_in_segment"], ascending=[True, False])

    segment2  categoryid  tx_cnt  seg_total  share_in_segment
0        0.0       959.0     102       4277          0.023848
1        0.0      1483.0     100       4277          0.023381
2        0.0      1051.0      90       4277          0.021043
3        0.0       196.0      83       4277          0.019406
4        0.0      1163.0      73       4277          0.017068
5        0.0      1037.0      72       4277          0.016834
6        0.0        84.0      63       4277          0.014730
7        0.0      1542.0      59       4277          0.013795
8        0.0       342.0      57       4277          0.013327
9        0.0       491.0      55       4277          0.012859
10       1.0       959.0      77       4233          0.018190
11       1.0      1483.0      69       4233          0.016300
12       1.0       618.0      67       4233          0.015828
13       1.0       683.0      66       4233          0.015592
14       1.0       491.0      64       4233          0.015119
15       1.0        48.0      62       4233          0.014647
16       1.0      1421.0      61       4233          0.014411
17       1.0      1542.0      60       4233          0.014174
18       1.0       342.0      59       4233          0.013938
19       1.0      1051.0      59       4233          0.013938
20       2.0      1051.0     253       7499          0.033738
21       2.0       959.0     226       7499          0.030137
22       2.0      1483.0     183       7499          0.024403
23       2.0       618.0     129       7499          0.017202
24       2.0        57.0     120       7499          0.016002
25       2.0       196.0      97       7499          0.012935
26       2.0      1542.0      90       7499          0.012002
27       2.0       342.0      88       7499          0.011735
28       2.0      1135.0      88       7499          0.011735
29       2.0         5.0      86       7499          0.011468
30       3.0       959.0     116       4721          0.024571
31       3.0      1483.0      94       4721          0.019911
32       3.0      1051.0      80       4721          0.016946
33       3.0      1542.0      72       4721          0.015251
34       3.0       342.0      70       4721          0.014827
35       3.0       196.0      67       4721          0.014192
36       3.0      1163.0      65       4721          0.013768
37       3.0       491.0      64       4721          0.013556
38       3.0       683.0      64       4721          0.013556
39       3.0      1219.0      64       4721          0.013556

In [41]:
# segment2 붙인 이벤트 로그
events_seg2 = events2.merge(rfm[["visitorid", "segment2"]], on="visitorid", how="left")

# segment2 붙은 구매 로그
tx2 = events_seg2[(events_seg2["event"] == "transaction")].dropna(subset=["transactionid"])

In [42]:
tx = events_seg2[(events_seg2["event"]=="transaction")].dropna(subset=["categoryid","transactionid"])

seg_cat = tx.groupby(["segment2","categoryid"])["transactionid"].nunique().reset_index(name="tx_cnt")

# 세그먼트 내 비중
seg_total = seg_cat.groupby("segment2")["tx_cnt"].sum().reset_index(name="seg_total")
seg_cat = seg_cat.merge(seg_total, on="segment2", how="left")
seg_cat["seg_share"] = seg_cat["tx_cnt"] / seg_cat["seg_total"]

# 전체 비중
cat_total = seg_cat.groupby("categoryid")["tx_cnt"].sum().reset_index(name="cat_total")
all_total = seg_cat["tx_cnt"].sum()
cat_total["all_share"] = cat_total["cat_total"] / all_total

seg_cat = seg_cat.merge(cat_total[["categoryid","all_share"]], on="categoryid", how="left")

# Lift
seg_cat["lift"] = seg_cat["seg_share"] / seg_cat["all_share"]

# 세그먼트별 "유독 선호" 카테고리 TOP10
lift_top10 = (seg_cat.sort_values(["segment2","lift"], ascending=[True,False])
              .groupby("segment2").head(10))

lift_top10

      segment2  categoryid  tx_cnt  seg_total  seg_share  all_share      lift
5          0.0        20.0       1       4277   0.000234   0.000048  4.846855
7          0.0        24.0       1       4277   0.000234   0.000048  4.846855
29         0.0       122.0       1       4277   0.000234   0.000048  4.846855
32         0.0       130.0       1       4277   0.000234   0.000048  4.846855
33         0.0       131.0       1       4277   0.000234   0.000048  4.846855
35         0.0       134.0       1       4277   0.000234   0.000048  4.846855
47         0.0       189.0       1       4277   0.000234   0.000048  4.846855
66         0.0       236.0       1       4277   0.000234   0.000048  4.846855
69         0.0       244.0       1       4277   0.000234   0.000048  4.846855
84         0.0       297.0       2       4277   0.000468   0.000096  4.846855
625        1.0       377.0       3       4233   0.000709   0.000145  4.897236
872        1.0      1207.0       3       4233   0.000709   0.000145  4.897236
761        1.0       842.0       1       4233   0.000236   0.000048  4.897236
782        1.0       941.0       1       4233   0.000236   0.000048  4.897236
785        1.0       956.0       1       4233   0.000236   0.000048  4.897236
831        1.0      1079.0       1       4233   0.000236   0.000048  4.897236
856        1.0      1164.0       1       4233   0.000236   0.000048  4.897236
868        1.0      1193.0       1       4233   0.000236   0.000048  4.897236
913        1.0      1314.0       2       4233   0.000472   0.000096  4.897236
923        1.0      1341.0       1       4233   0.000236   0.000048  4.897236
1043       2.0         6.0       2       7499   0.000267   0.000096  2.764369
1077       2.0       129.0       1       7499   0.000133   0.000048  2.764369
1092       2.0       173.0       1       7499   0.000133   0.000048  2.764369
1107       2.0       223.0       1       7499   0.000133   0.000048  2.764369
1114       2.0       233.0       1       7499   0.000133   0.000048  2.764369
1132       2.0       288.0       2       7499   0.000267   0.000096  2.764369
1142       2.0       319.0       1       7499   0.000133   0.000048  2.764369
1155       2.0       348.0       1       7499   0.000133   0.000048  2.764369
1179       2.0       407.0       3       7499   0.000400   0.000145  2.764369
1189       2.0       430.0       1       7499   0.000133   0.000048  2.764369
1654       3.0        58.0       1       4721   0.000212   0.000048  4.391019
1757       3.0       439.0       1       4721   0.000212   0.000048  4.391019
1760       3.0       447.0       1       4721   0.000212   0.000048  4.391019
1775       3.0       490.0       2       4721   0.000424   0.000096  4.391019
1864       3.0       790.0       1       4721   0.000212   0.000048  4.391019
1904       3.0       963.0       1       4721   0.000212   0.000048  4.391019
1972       3.0      1155.0       2       4721   0.000424   0.000096  4.391019
1988       3.0      1217.0       1       4721   0.000212   0.000048  4.391019
2040       3.0      1346.0       2       4721   0.000424   0.000096  4.391019
2078       3.0      1465.0       2       4721   0.000424   0.000096  4.391019

In [ ]:
events["event"].value_counts()
events.loc[events["event"]=="transaction", "transactionid"].isna().mean()

In [ ]:
steps = ["view","addtocart","transaction"]
user_step = (events[events["event"].isin(steps)]
             .assign(flag=1)
             .pivot_table(index="visitorid", columns="event", values="flag",
                          aggfunc="max", fill_value=0))

n_view = (user_step.get("view",0)==1).sum()
n_cart = ((user_step.get("view",0)==1) & (user_step.get("addtocart",0)==1)).sum()
n_buy  = ((user_step.get("view",0)==1) & (user_step.get("transaction",0)==1)).sum()

n_view, n_cart/n_view, n_buy/n_view

In [ ]:
n_cart_only = (user_step.get("addtocart",0)==1).sum()
n_buy_only  = (user_step.get("transaction",0)==1).sum()

cart_to_buy = (((user_step.get("addtocart",0)==1) & (user_step.get("transaction",0)==1)).sum()
               / max(n_cart_only, 1))

n_cart_only, n_buy_only, cart_to_buy

In [ ]:
import pandas as pd

# 1) props에서 categoryid만 뽑기
cat_prop = props[props["property"].astype(str).str.strip() == "categoryid"].copy()

# 2) value -> 숫자 변환 (안 되는 값은 NaN)
cat_prop["categoryid"] = pd.to_numeric(cat_prop["value"], errors="coerce")
cat_prop = cat_prop.dropna(subset=["categoryid"])
cat_prop["categoryid"] = cat_prop["categoryid"].astype("int64")

# 3) itemid별 "가장 최신" categoryid 선택
item_cat = (cat_prop.sort_values("dt")
                    .groupby("itemid", as_index=False)
                    .tail(1)[["itemid","categoryid"]])

# 4) events에 merge
events2 = events.merge(item_cat, on="itemid", how="left")

# 5) 확인
print("categoryid in events2?", "categoryid" in events2.columns)
print("categoryid missing rate:", events2["categoryid"].isna().mean())
events2[["itemid","categoryid"]].head()

In [ ]:
(events2.assign(cat_missing=events2["categoryid"].isna())
        .groupby("event")["cat_missing"]
        .mean()
        .sort_values(ascending=False))

In [ ]:
steps = ["view","addtocart","transaction"]

tmp = (events2[events2["event"].isin(steps)]
       .dropna(subset=["categoryid"])
       .assign(flag=1)
       .pivot_table(index=["categoryid","visitorid"], columns="event",
                    values="flag", aggfunc="max", fill_value=0)
       .reset_index())

cat_rates = tmp.groupby("categoryid").apply(lambda df: pd.Series({
    "viewers": (df["view"]==1).sum(),
    "carters": (df["addtocart"]==1).sum(),
    "buyers":  (df["transaction"]==1).sum(),
    "view_to_cart": (((df["view"]==1)&(df["addtocart"]==1)).sum()) / max((df["view"]==1).sum(), 1),
    "cart_to_buy":  (((df["addtocart"]==1)&(df["transaction"]==1)).sum()) / max((df["addtocart"]==1).sum(), 1),
    "view_to_buy":  (((df["view"]==1)&(df["transaction"]==1)).sum()) / max((df["view"]==1).sum(), 1),
})).reset_index()

# 표본 필터(너무 작은 카테고리 제거)
cat_rates = cat_rates[cat_rates["viewers"] >= 3000]

# “영향도”까지 같이 보려면: (전체 평균 대비) 잠재 추가 장바구니 수 추정
overall_v2c = 0.024499013302435087  # 이미 계산된 전체 view->cart
cat_rates["lift_vs_overall"] = cat_rates["view_to_cart"] - overall_v2c
cat_rates["potential_extra_carts"] = (-cat_rates["lift_vs_overall"]).clip(lower=0) * cat_rates["viewers"]

# 고트래픽 + 낮은 전환(개선 우선순위)
priority = cat_rates.sort_values(["potential_extra_carts","viewers"], ascending=False)
priority.head(15)

In [ ]:
steps = ["view","addtocart","transaction"]

tmp = (events2[events2["event"].isin(steps)]
       .dropna(subset=["categoryid"])
       .assign(flag=1)
       .pivot_table(index=["categoryid","visitorid"], columns="event",
                    values="flag", aggfunc="max", fill_value=0)
       .reset_index())

cat_rates = tmp.groupby("categoryid").apply(lambda df: pd.Series({
    "viewers": (df.get("view",0)==1).sum(),
    "view_to_cart": (((df.get("view",0)==1) & (df.get("addtocart",0)==1)).sum()) / max((df.get("view",0)==1).sum(), 1),
    "cart_to_buy":  (((df.get("addtocart",0)==1) & (df.get("transaction",0)==1)).sum()) / max((df.get("addtocart",0)==1).sum(), 1),
    "view_to_buy":  (((df.get("view",0)==1) & (df.get("transaction",0)==1)).sum()) / max((df.get("view",0)==1).sum(), 1),
})).reset_index()

# 표본 작은 카테고리 제거 후, view_to_cart 낮은 순(병목) 보기
cat_rates = cat_rates[cat_rates["viewers"] >= 3000].sort_values("view_to_cart")
cat_rates.head(15)

In [ ]:
u = events.groupby("visitorid").agg(
    views=("event", lambda x: (x=="view").sum()),
    carts=("event", lambda x: (x=="addtocart").sum()),
    buys=("event", lambda x: (x=="transaction").sum()),
).reset_index()

high_view_no_cart = u[(u["views"]>=20) & (u["carts"]==0)].sort_values("views", ascending=False)
high_view_no_cart.head(20)

In [ ]:
item_kpi = (events.groupby(["itemid","event"])["visitorid"]
                 .count()
                 .unstack(fill_value=0)
                 .reset_index())

item_kpi["view_to_cart"] = item_kpi["addtocart"] / item_kpi["view"].clip(lower=1)
item_kpi = item_kpi[item_kpi["view"]>=500]  # 표본 필터

item_kpi.sort_values("view_to_cart").head(20)

In [ ]:
steps = ["view","addtocart","transaction"]

tmp = (events2[events2["event"].isin(steps)]
       .dropna(subset=["categoryid"])
       .assign(flag=1)
       .pivot_table(index=["categoryid","visitorid"], columns="event",
                    values="flag", aggfunc="max", fill_value=0)
       .reset_index())

cat_funnel = tmp.groupby("categoryid").apply(lambda df: pd.Series({
    "viewers": (df["view"]==1).sum(),
    "view_to_cart": (((df["view"]==1)&(df["addtocart"]==1)).sum()) / max((df["view"]==1).sum(),1),
    "view_to_buy":  (((df["view"]==1)&(df["transaction"]==1)).sum()) / max((df["view"]==1).sum(),1),
})).reset_index()

# 표본 너무 작은 카테고리 제거(예: viewers 1000 이상만)
cat_funnel = cat_funnel[cat_funnel["viewers"]>=1000].sort_values("view_to_buy", ascending=False)
cat_funnel.head(10)

In [ ]:
v = events[events["event"]=="view"].groupby("visitorid")["dt"].min().rename("first_view")
t = events[events["event"]=="transaction"].groupby("visitorid")["dt"].min().rename("first_tx")

lag = pd.concat([v, t], axis=1).dropna()
lag["days_to_buy"] = (lag["first_tx"] - lag["first_view"]).dt.days

# 음수 비율 체크
(lag["days_to_buy"] < 0).mean(), lag["days_to_buy"].min()

In [ ]:
lag_pos = lag[lag["days_to_buy"] >= 0]
lag_pos["days_to_buy"].describe()

In [ ]:
same_day_rate = (lag_pos["days_to_buy"] == 0).mean()
within_7d = (lag_pos["days_to_buy"] <= 7).mean()
same_day_rate, within_7d

In [ ]:
cart_users = set(events.loc[events["event"]=="addtocart", "visitorid"].unique())
buy_users  = set(events.loc[events["event"]=="transaction", "visitorid"].unique())

abandon = list(cart_users - buy_users)
len(abandon), len(cart_users), len(buy_users)

In [ ]:
p = events[events["event"]=="transaction"][["visitorid","dt","transactionid"]].copy()
p["order_month"] = p["dt"].dt.to_period("M").dt.to_timestamp()

cohort_month = p.groupby("visitorid")["order_month"].min().rename("cohort_month")
p = p.join(cohort_month, on="visitorid")

p["cohort_index"] = (
    (p["order_month"].dt.year - p["cohort_month"].dt.year)*12
    + (p["order_month"].dt.month - p["cohort_month"].dt.month)
)

cohort_cnt = (p.groupby(["cohort_month","cohort_index"])["visitorid"]
               .nunique()
               .reset_index(name="users"))

base = cohort_cnt[cohort_cnt["cohort_index"]==0].set_index("cohort_month")["users"]
cohort_cnt["retention"] = cohort_cnt.apply(lambda r: r["users"]/base.loc[r["cohort_month"]], axis=1)

ret_mat = cohort_cnt.pivot(index="cohort_month", columns="cohort_index", values="retention")
ret_mat.head()

In [ ]:
events["event"].value_counts()

In [ ]:
events["dt"].min(), events["dt"].max()

In [ ]:
# categoryid만 추출
cat_prop = props[props["property"]=="categoryid"].copy()
cat_prop["categoryid"] = cat_prop["value"].astype("int64")

# 아이템별 가장 최신 categoryid
item_cat = (cat_prop.sort_values("dt")
                    .groupby("itemid", as_index=False)
                    .tail(1)[["itemid","categoryid"]])

events = events.merge(item_cat, on="itemid", how="left")

In [ ]:
# 예: 2015-05~2015-07 코호트만, 0~2개월차만
ret_mat.loc["2015-05-01":"2015-07-01", [0,1,2]].style.format("{:.2%}")

In [ ]:
daily = (events.assign(date=events["dt"].dt.date)
               .groupby(["date","event"])["visitorid"]
               .count()
               .unstack(fill_value=0)
               .reset_index())

daily.head()

In [ ]:
daily2 = daily.copy()  # 지금 보여주신 테이블이 daily라고 가정
daily2["v2c"] = daily2["addtocart"] / daily2["view"].clip(lower=1)
daily2["v2b"] = daily2["transaction"] / daily2["view"].clip(lower=1)
daily2["c2b"] = daily2["transaction"] / daily2["addtocart"].clip(lower=1)

daily2[["date","view","addtocart","transaction","v2c","c2b","v2b"]].head(10)

In [ ]:
daily2["view_pct_change"] = daily2["view"].pct_change()
daily2["v2c_change"] = daily2["v2c"].pct_change()

daily2.sort_values("view_pct_change", ascending=False).head(10)   # 트래픽 급증일
daily2.sort_values("v2c_change", ascending=False).head(10)        # 담기율 급상승일
daily2.sort_values("v2c_change", ascending=True).head(10)         # 담기율 급락일

In [ ]:
bad_date = pd.to_datetime("2015-07-25").date()   # 예시: 표에서 하나 골라서
prev_date = (pd.to_datetime(bad_date) - pd.Timedelta(days=1)).date()

def cat_mix(df, d):
    x = df[df["dt"].dt.date == d].dropna(subset=["categoryid"])
    # 카테고리별 view 이벤트 기준 점유율
    m = (x[x["event"]=="view"]
         .groupby("categoryid")["visitorid"].count()
         .sort_values(ascending=False))
    share = (m / m.sum()).rename("view_share")
    return share.reset_index()

mix_bad  = cat_mix(events2, bad_date)
mix_prev = cat_mix(events2, prev_date)

mix = mix_bad.merge(mix_prev, on="categoryid", how="outer", suffixes=("_bad","_prev")).fillna(0)
mix["share_diff"] = mix["view_share_bad"] - mix["view_share_prev"]
mix.sort_values("share_diff", ascending=False).head(10)

In [ ]:
# 전체 기간 기준 카테고리별 view->cart (유저 기준으로 하고 싶으면 visitorid 단위 tmp를 쓰고,
# 여기서는 간단히 이벤트 기준으로도 확인 가능)

cat_base = (events2.dropna(subset=["categoryid"])
            .pivot_table(index="categoryid", columns="event",
                         values="visitorid", aggfunc="count", fill_value=0))

for col in ["view","addtocart","transaction"]:
    if col not in cat_base.columns:
        cat_base[col] = 0

cat_base["v2c_base"] = cat_base["addtocart"] / cat_base["view"].clip(lower=1)
cat_base["v2b_base"] = cat_base["transaction"] / cat_base["view"].clip(lower=1)
cat_base = cat_base.reset_index()

mix_check = mix.merge(cat_base[["categoryid","v2c_base","v2b_base"]], on="categoryid", how="left")
mix_check.sort_values("share_diff", ascending=False).head(10)

In [ ]:
bad_date = pd.to_datetime("2015-07-25").date()  # 예시로 사용하셨던 날짜로 맞추세요
prev_date = (pd.to_datetime(bad_date) - pd.Timedelta(days=1)).date()

def cat_day_v2c(df, d, cat):
    x = df[(df["dt"].dt.date==d) & (df["categoryid"]==cat)]
    c = x["event"].value_counts()
    v = c.get("view", 0)
    a = c.get("addtocart", 0)
    t = c.get("transaction", 0)
    return pd.Series({"view":v, "addtocart":a, "transaction":t,
                      "v2c": a/max(v,1), "v2b": t/max(v,1), "c2b": t/max(a,1)})

cat_day_v2c(events2, prev_date, 160), cat_day_v2c(events2, bad_date, 160)

In [ ]:
bad_date = pd.to_datetime("2015-07-25").date()
prev_date = (pd.to_datetime(bad_date) - pd.Timedelta(days=1)).date()

def day_cat_view(df, d):
    x = df[(df["dt"].dt.date==d) & (df["event"]=="view")].dropna(subset=["categoryid"])
    vc = x.groupby("categoryid")["visitorid"].count().rename("view_cnt")
    out = vc.reset_index()
    out["view_share"] = out["view_cnt"] / out["view_cnt"].sum()
    return out

bad = day_cat_view(events2, bad_date)
prev = day_cat_view(events2, prev_date)

mix2 = bad.merge(prev, on="categoryid", how="outer", suffixes=("_bad","_prev")).fillna(0)
mix2["share_diff"] = mix2["view_share_bad"] - mix2["view_share_prev"]

# 표본 충분한 카테고리만(예: bad일 view_cnt 300 이상)
mix2[mix2["view_cnt_bad"]>=300].sort_values("share_diff", ascending=False).head(15)

In [ ]:
top_cats = mix2[mix2["view_cnt_bad"]>=300].sort_values("share_diff", ascending=False)["categoryid"].head(5).tolist()

def cat_day_rates(df, d, cats):
    x = df[(df["dt"].dt.date==d) & (df["categoryid"].isin(cats))].dropna(subset=["categoryid"])
    pt = (x.pivot_table(index="categoryid", columns="event",
                        values="visitorid", aggfunc="count", fill_value=0))
    for col in ["view","addtocart","transaction"]:
        if col not in pt.columns:
            pt[col] = 0
    pt["v2c"] = pt["addtocart"] / pt["view"].clip(lower=1)
    pt["v2b"] = pt["transaction"] / pt["view"].clip(lower=1)
    pt["c2b"] = pt["transaction"] / pt["addtocart"].clip(lower=1)
    return pt.reset_index()

cat_day_rates(events2, prev_date, top_cats), cat_day_rates(events2, bad_date, top_cats)

In [ ]:
bad_date = pd.to_datetime("2015-07-25").date()
prev_date = (pd.to_datetime(bad_date) - pd.Timedelta(days=1)).date()

def day_cat_view(df, d):
    x = df[(df["dt"].dt.date==d) & (df["event"]=="view")].dropna(subset=["categoryid"])
    out = (x.groupby("categoryid")["visitorid"]
             .count()
             .reset_index(name="view_cnt"))
    out["view_share"] = out["view_cnt"] / out["view_cnt"].sum()
    return out

bad  = day_cat_view(events2, bad_date).rename(columns={"view_cnt":"view_cnt_bad", "view_share":"view_share_bad"})
prev = day_cat_view(events2, prev_date).rename(columns={"view_cnt":"view_cnt_prev","view_share":"view_share_prev"})

mix2 = bad.merge(prev, on="categoryid", how="outer").fillna(0)
mix2["share_diff"] = mix2["view_share_bad"] - mix2["view_share_prev"]

mix2.sort_values("share_diff", ascending=False).head(15)

In [ ]:
mix2[["view_share_bad","view_share_prev"]].describe()

In [ ]:
mix2[mix2["view_cnt_bad"]>=300].sort_values("share_diff", ascending=False).head(10)

In [ ]:
bad_date = pd.to_datetime("2015-07-25").date()
prev_date = (pd.to_datetime(bad_date) - pd.Timedelta(days=1)).date()

# 1) raw view 총합부터 확인
x_bad = events2[(events2["dt"].dt.date==bad_date) & (events2["event"]=="view")].dropna(subset=["categoryid"])
x_prev = events2[(events2["dt"].dt.date==prev_date) & (events2["event"]=="view")].dropna(subset=["categoryid"])

print("bad total views:", len(x_bad))
print("prev total views:", len(x_prev))

# 2) 카테고리별 view_cnt 상위 확인 (count가 맞는지)
bad_cnt = x_bad.groupby("categoryid").size().sort_values(ascending=False)
prev_cnt = x_prev.groupby("categoryid").size().sort_values(ascending=False)

print("\nTop5 bad view_cnt")
print(bad_cnt.head())

print("\nTop5 prev view_cnt")
print(prev_cnt.head())

# 3) share 계산이 0~1인지 직접 확인
bad_df = bad_cnt.reset_index(name="view_cnt_bad")
bad_df["view_share_bad"] = bad_df["view_cnt_bad"] / bad_df["view_cnt_bad"].sum()

prev_df = prev_cnt.reset_index(name="view_cnt_prev")
prev_df["view_share_prev"] = prev_df["view_cnt_prev"] / prev_df["view_cnt_prev"].sum()

print("\nShare range check")
print("bad share min/max:", bad_df["view_share_bad"].min(), bad_df["view_share_bad"].max())
print("prev share min/max:", prev_df["view_share_prev"].min(), prev_df["view_share_prev"].max())

mix2 = bad_df.merge(prev_df, on="categoryid", how="outer").fillna(0)
mix2["share_diff"] = mix2["view_share_bad"] - mix2["view_share_prev"]

mix2.sort_values("share_diff", ascending=False).head(10)

In [ ]:
bad_date = pd.to_datetime("2015-07-25").date()
prev_date = (pd.to_datetime(bad_date) - pd.Timedelta(days=1)).date()

x_bad = events2[(events2["dt"].dt.date==bad_date) & (events2["event"]=="view")].dropna(subset=["categoryid"])
x_prev = events2[(events2["dt"].dt.date==prev_date) & (events2["event"]=="view")].dropna(subset=["categoryid"])

bad_cnt = x_bad.groupby("categoryid").size().rename("view_cnt_bad")
prev_cnt = x_prev.groupby("categoryid").size().rename("view_cnt_prev")

mix2 = pd.concat([bad_cnt, prev_cnt], axis=1).fillna(0).reset_index()

mix2["view_share_bad"] = mix2["view_cnt_bad"] / mix2["view_cnt_bad"].sum()
mix2["view_share_prev"] = mix2["view_cnt_prev"] / mix2["view_cnt_prev"].sum()
mix2["share_diff"] = mix2["view_share_bad"] - mix2["view_share_prev"]

# ✅ 컬럼을 '이 순서'로 명시해서 출력(열 밀림 방지)
mix2 = mix2[["categoryid","view_cnt_bad","view_share_bad","view_cnt_prev","view_share_prev","share_diff"]]

mix2.sort_values("share_diff", ascending=False).head(10)

In [ ]:
def cat_day_rates(df, d, cats):
    x = df[(df["dt"].dt.date==d) & (df["categoryid"].isin(cats))].dropna(subset=["categoryid"])
    pt = (x.pivot_table(index="categoryid", columns="event",
                        values="visitorid", aggfunc="count", fill_value=0))
    for col in ["view","addtocart","transaction"]:
        if col not in pt.columns:
            pt[col] = 0
    pt["v2c"] = pt["addtocart"] / pt["view"].clip(lower=1)
    pt["v2b"] = pt["transaction"] / pt["view"].clip(lower=1)
    pt["c2b"] = pt["transaction"] / pt["addtocart"].clip(lower=1)
    return pt.reset_index()

cats = [342.0, 491.0, 1483.0, 1051.0, 959.0]

cat_day_rates(events2, prev_date, cats), cat_day_rates(events2, bad_date, cats)

In [ ]:
bad_date = pd.to_datetime("2015-07-25").date()
cats = [342.0, 491.0]

x = events2[(events2["dt"].dt.date==bad_date) & (events2["categoryid"].isin(cats))]

pt = (x.pivot_table(index=["categoryid","itemid"], columns="event",
                    values="visitorid", aggfunc="count", fill_value=0)
        .reset_index())
for col in ["view","addtocart","transaction"]:
    if col not in pt.columns:
        pt[col] = 0

pt["v2c"] = pt["addtocart"] / pt["view"].clip(lower=1)

# 조회 많은데 담기 0인 상품
pt[(pt["view"]>=50) & (pt["addtocart"]==0)].sort_values("view", ascending=False).head(30)

In [ ]:
def bad_item_count(df, d, cat, min_view=50):
    x = df[(df["dt"].dt.date==d) & (df["categoryid"]==cat)]
    pt = (x.pivot_table(index="itemid", columns="event",
                        values="visitorid", aggfunc="count", fill_value=0))
    for col in ["view","addtocart","transaction"]:
        if col not in pt.columns:
            pt[col]=0
    return ((pt["view"]>=min_view) & (pt["addtocart"]==0)).sum()

prev_date = (pd.to_datetime(bad_date) - pd.Timedelta(days=1)).date()
[(cat, bad_item_count(events2, prev_date, cat), bad_item_count(events2, bad_date, cat)) for cat in cats]

In [ ]:
# v2c(담기율) 상위/하위 3일
best_v2c  = daily2.sort_values("v2c", ascending=False).head(3)
worst_v2c = daily2.sort_values("v2c", ascending=True).head(3)

# c2b(결제전환) 상위/하위 3일
best_c2b  = daily2.sort_values("c2b", ascending=False).head(3)
worst_c2b = daily2.sort_values("c2b", ascending=True).head(3)

best_v2c[["date","view","addtocart","transaction","v2c","c2b","v2b"]], \
worst_v2c[["date","view","addtocart","transaction","v2c","c2b","v2b"]], \
best_c2b[["date","view","addtocart","transaction","v2c","c2b","v2b"]], \
worst_c2b[["date","view","addtocart","transaction","v2c","c2b","v2b"]]

In [ ]:
cat_kpi = (events.groupby(["categoryid","event"])["visitorid"]
                 .count()
                 .unstack(fill_value=0)
                 .reset_index()
                 .sort_values(by=["transaction","addtocart","view"], ascending=False))

cat_kpi.head(10)

In [ ]:
steps = ["view","addtocart","transaction"]
user_step = (events[events["event"].isin(steps)]
             .assign(flag=1)
             .pivot_table(index="visitorid", columns="event", values="flag",
                          aggfunc="max", fill_value=0))

n_view = (user_step.get("view",0)==1).sum()
n_cart = ((user_step.get("view",0)==1) & (user_step.get("addtocart",0)==1)).sum()
n_buy  = ((user_step.get("view",0)==1) & (user_step.get("transaction",0)==1)).sum()

funnel = {
    "viewers": n_view,
    "view→cart": n_cart / n_view if n_view else 0,
    "view→buy":  n_buy  / n_view if n_view else 0,
}
funnel

In [ ]:
cat_user_step = (events[events["event"].isin(steps)]
                 .dropna(subset=["categoryid"])
                 .assign(flag=1)
                 .pivot_table(index=["categoryid","visitorid"], columns="event",
                              values="flag", aggfunc="max", fill_value=0)
                 .reset_index())

# category별 view→buy
tmp = cat_user_step
cat_funnel = tmp.groupby("categoryid").apply(
    lambda df: pd.Series({
        "viewers": (df["view"]==1).sum(),
        "view_to_buy": (((df["view"]==1)&(df["transaction"]==1)).sum()) / max((df["view"]==1).sum(),1)
    })
).reset_index().sort_values("view_to_buy", ascending=False)
cat_funnel.head(10)

In [ ]:
cat_funnel_sig = cat_funnel[cat_funnel["viewers"] >= 500].head(10)
cat_funnel_sig

In [ ]:
cat_funnel_low = cat_funnel[cat_funnel["viewers"] >= 500].sort_values("view_to_buy").head(10)
cat_funnel_low

In [ ]:
# tmp: categoryid가 붙어있는 events2 기반 데이터 (view/addtocart/transaction 포함)
# 유저 기준으로 카테고리별 퍼널 산출

pt = (tmp.pivot_table(index="categoryid",
                      columns="event",
                      values="visitorid",
                      aggfunc=pd.Series.nunique,
                      fill_value=0)
        .reset_index())

for col in ["view","addtocart","transaction"]:
    if col not in pt.columns:
        pt[col] = 0

pt = pt.rename(columns={"view":"viewers", "addtocart":"carters", "transaction":"buyers"})
pt["view_to_buy"] = pt["buyers"] / pt["viewers"].clip(lower=1)

# 표본 필터(예: viewers >= 500)
cat_funnel_sig = pt[pt["viewers"]>=500].sort_values("view_to_buy", ascending=False)

cat_funnel_sig[["categoryid","viewers","buyers","view_to_buy"]].head(15)

In [ ]:
p = events[events["event"]=="transaction"][["visitorid","dt","transactionid"]].copy()
p["order_month"] = p["dt"].dt.to_period("M").dt.to_timestamp()

cohort_month = p.groupby("visitorid")["order_month"].min().rename("cohort_month")
p = p.join(cohort_month, on="visitorid")

p["cohort_index"] = (
    (p["order_month"].dt.year - p["cohort_month"].dt.year)*12
    + (p["order_month"].dt.month - p["cohort_month"].dt.month)
)

cohort_cnt = (p.groupby(["cohort_month","cohort_index"])["visitorid"]
               .nunique()
               .reset_index(name="users"))

base = cohort_cnt[cohort_cnt["cohort_index"]==0].set_index("cohort_month")["users"]
cohort_cnt["retention"] = cohort_cnt.apply(lambda r: r["users"]/base.loc[r["cohort_month"]], axis=1)

ret_mat = cohort_cnt.pivot(index="cohort_month", columns="cohort_index", values="retention")
ret_mat.head()

In [ ]:
snapshot = events["dt"].max()

tx = events[events["event"]=="transaction"].copy()

rf = tx.groupby("visitorid").agg(
    recency=("dt", lambda x: (snapshot - x.max()).days),
    frequency=("transactionid","nunique"),
    items_bought=("itemid","nunique"),
).reset_index()

rf.head()

In [ ]:
# =========================
# 0) 안전 체크: 필요한 DF 존재 확인
# =========================
required = ["events2", "events", "tx", "rf"]
missing = [x for x in required if x not in globals()]
if missing:
    raise NameError(f"Missing objects in memory: {missing}. 먼저 해당 DF를 생성한 뒤 실행해주세요.")

import numpy as np
import pandas as pd

# snapshot이 없다면 생성
if "snapshot" not in globals():
    snapshot = events["dt"].max()

print("snapshot:", snapshot)


# =========================
# 1) RFM + KMeans Clustering
#    - Monetary 대체: items_bought
# =========================
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

rfm = rf.copy()

# 결측/이상 방어
for c in ["recency", "frequency", "items_bought"]:
    if c not in rfm.columns:
        raise KeyError(f"rf에 {c} 컬럼이 없습니다. rf 생성 로직을 확인해주세요.")
rfm[["recency","frequency","items_bought"]] = rfm[["recency","frequency","items_bought"]].fillna(0)

# 로그 변환(분포 치우침 완화): frequency/items_bought는 +1 후 log1p
rfm_feat = rfm[["recency","frequency","items_bought"]].copy()
rfm_feat["frequency_log"] = np.log1p(rfm_feat["frequency"])
rfm_feat["items_bought_log"] = np.log1p(rfm_feat["items_bought"])

# recency는 그대로 두되, 스케일링
X = rfm_feat[["recency", "frequency_log", "items_bought_log"]].values
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# K 선택(4~6 추천): 실루엣으로 간단 점검
sil_scores = {}
for k in [3,4,5,6,7]:
    km = KMeans(n_clusters=k, random_state=42, n_init="auto")
    lbl = km.fit_predict(X_scaled)
    sil = silhouette_score(X_scaled, lbl)
    sil_scores[k] = sil

best_k = max(sil_scores, key=sil_scores.get)
print("Silhouette by k:", sil_scores)
print("Best k:", best_k)

kmeans = KMeans(n_clusters=best_k, random_state=42, n_init="auto")
rfm["cluster"] = kmeans.fit_predict(X_scaled)

# 클러스터 요약(해석용)
cluster_profile = (rfm.groupby("cluster")
                   .agg(
                       users=("visitorid","nunique"),
                       recency_mean=("recency","mean"),
                       recency_median=("recency","median"),
                       frequency_mean=("frequency","mean"),
                       frequency_median=("frequency","median"),
                       items_bought_mean=("items_bought","mean"),
                       items_bought_median=("items_bought","median"),
                   )
                   .reset_index()
                   .sort_values("users", ascending=False))

# 퍼센트
cluster_profile["user_share"] = cluster_profile["users"] / cluster_profile["users"].sum()
cluster_profile

# (선택) 페르소나 라벨 자동 부여(초안)
# 규칙 기반: recency 낮을수록 좋고, freq/items가 높을수록 좋음
def persona_row(r):
    # 상대 기준: 중앙값 기반
    # (여기선 전체 분포 중앙값을 기준으로 상/하 판단)
    return ""

med_rec = rfm["recency"].median()
med_freq = rfm["frequency"].median()
med_item = rfm["items_bought"].median()

def assign_persona(r):
    rec_good = r["recency_median"] <= med_rec
    freq_good = r["frequency_median"] >= med_freq
    item_good = r["items_bought_median"] >= med_item

    if rec_good and freq_good and item_good:
        return "VIP/핵심 충성"
    if rec_good and (freq_good or item_good):
        return "활성 우수(성장 잠재)"
    if (not rec_good) and (freq_good or item_good):
        return "휴면 위험(과거 우수)"
    if rec_good and (not freq_good) and (not item_good):
        return "신규/가벼운 활성"
    return "저활성/이탈 위험"

cluster_profile["persona"] = cluster_profile.apply(assign_persona, axis=1)
cluster_profile = cluster_profile.sort_values(["user_share","frequency_mean"], ascending=False)
cluster_profile

# rfm에 persona 붙이기
rfm = rfm.merge(cluster_profile[["cluster","persona"]], on="cluster", how="left")

print("\n[Cluster profile]")
display(cluster_profile)


# =========================
# 2) Churn 라벨 정의 + 유저 피처 집계
#    라벨: snapshot 기준 최근 30일간 어떤 이벤트도 없으면 churn=1
# =========================
from datetime import timedelta

CHURN_WINDOW_DAYS = 30
cutoff = snapshot - pd.Timedelta(days=CHURN_WINDOW_DAYS)
print("Churn cutoff:", cutoff)

# 유저별 마지막 이벤트 시점
last_evt = (events.groupby("visitorid")["dt"].max()
            .rename("last_event_dt")
            .reset_index())
last_evt["churn"] = (last_evt["last_event_dt"] < cutoff).astype(int)

# 유저별 이벤트 카운트/최근성/전환 피처
# 최근 N일(7/14/30) window counts
def window_count(df, days, event=None):
    start = snapshot - pd.Timedelta(days=days)
    x = df[df["dt"] >= start]
    if event is not None:
        x = x[x["event"] == event]
    return x.groupby("visitorid").size().rename(f"cnt_{event or 'all'}_{days}d")

# 전체 기간 이벤트 카운트
total_cnt = events.groupby("visitorid").size().rename("cnt_all_total")
view_cnt  = events[events["event"]=="view"].groupby("visitorid").size().rename("cnt_view_total")
cart_cnt  = events[events["event"]=="addtocart"].groupby("visitorid").size().rename("cnt_cart_total")
tx_cnt    = events[events["event"]=="transaction"].groupby("visitorid").size().rename("cnt_tx_total")

# 최근성(각 이벤트 마지막 발생일로부터 경과일)
def last_gap(df, event):
    s = df[df["event"]==event].groupby("visitorid")["dt"].max()
    out = (snapshot - s).dt.days.rename(f"gap_{event}")
    return out

gap_view = last_gap(events, "view")
gap_cart = last_gap(events, "addtocart")
gap_tx   = last_gap(events, "transaction")

# 최근 7/14/30일 카운트
feat_list = [
    total_cnt, view_cnt, cart_cnt, tx_cnt,
    window_count(events, 7, None),
    window_count(events, 14, None),
    window_count(events, 30, None),
    window_count(events, 7, "view"),
    window_count(events, 14, "view"),
    window_count(events, 30, "view"),
    window_count(events, 7, "addtocart"),
    window_count(events, 14, "addtocart"),
    window_count(events, 30, "addtocart"),
    window_count(events, 7, "transaction"),
    window_count(events, 14, "transaction"),
    window_count(events, 30, "transaction"),
    gap_view, gap_cart, gap_tx
]

feat = pd.concat(feat_list, axis=1).reset_index().rename(columns={"index":"visitorid"})
feat = feat.merge(last_evt[["visitorid","churn","last_event_dt"]], on="visitorid", how="left")

# 결측 처리(이벤트 경험 없는 유저는 gap이 NaN -> 큰 값으로 치환)
for c in feat.columns:
    if c.startswith("gap_"):
        feat[c] = feat[c].fillna(9999)

# 전환 여부(유저 기준)
steps = ["view","addtocart","transaction"]
user_step = (events[events["event"].isin(steps)]
             .assign(flag=1)
             .pivot_table(index="visitorid", columns="event", values="flag",
                          aggfunc="max", fill_value=0)
             .reset_index())
# 컬럼 없을 수 있으니 방어
for col in steps:
    if col not in user_step.columns:
        user_step[col] = 0

user_step["has_view"] = (user_step["view"]==1).astype(int)
user_step["has_cart"] = (user_step["addtocart"]==1).astype(int)
user_step["has_buy"]  = (user_step["transaction"]==1).astype(int)
user_step["view_to_cart_user"] = ((user_step["view"]==1) & (user_step["addtocart"]==1)).astype(int)
user_step["cart_to_buy_user"]  = ((user_step["addtocart"]==1) & (user_step["transaction"]==1)).astype(int)

feat = feat.merge(user_step[["visitorid","has_view","has_cart","has_buy","view_to_cart_user","cart_to_buy_user"]],
                  on="visitorid", how="left").fillna(0)

# RFM/cluster/persona도 합치기
feat = feat.merge(rfm[["visitorid","recency","frequency","items_bought","cluster","persona"]],
                  on="visitorid", how="left")

# 구매 경험 없는 유저의 RFM 결측 처리
for c in ["recency","frequency","items_bought","cluster"]:
    if c in feat.columns:
        feat[c] = feat[c].fillna(0)

feat["persona"] = feat["persona"].fillna("비구매/미분류")

print("\nFeature shape:", feat.shape)
feat.head()


# =========================
# 3) 베이스라인 Churn 모델 학습/평가
# =========================
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score, classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

# 학습에 쓸 피처 선택(문자 persona 제외)
drop_cols = ["visitorid", "last_event_dt", "persona"]
X = feat.drop(columns=[c for c in drop_cols if c in feat.columns])
y = feat["churn"].astype(int)

# 혹시 churn이 X에 남아있으면 제거
if "churn" in X.columns:
    X = X.drop(columns=["churn"])

# train/test split (층화)
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.25, random_state=42, stratify=y
)

# 모델1: Logistic Regression (스케일 필요 -> 간단히 StandardScaler)
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

logit = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="median")),
    ("scaler", StandardScaler(with_mean=False)),  # sparse 대비
    ("model", LogisticRegression(max_iter=2000, class_weight="balanced"))
])

logit.fit(X_train, y_train)
p_logit = logit.predict_proba(X_test)[:,1]
auc_logit = roc_auc_score(y_test, p_logit)
print("Logistic AUC:", auc_logit)

# 모델2: RandomForest (해석용 중요도)
rf_clf = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="median")),
    ("model", RandomForestClassifier(
        n_estimators=300,
        random_state=42,
        class_weight="balanced_subsample",
        max_depth=None,
        n_jobs=-1
    ))
])

rf_clf.fit(X_train, y_train)
p_rf = rf_clf.predict_proba(X_test)[:,1]
auc_rf = roc_auc_score(y_test, p_rf)
print("RandomForest AUC:", auc_rf)

# 리포트(기본 0.5 threshold)
pred_rf = (p_rf >= 0.5).astype(int)
print("\n[RandomForest classification report @0.5]")
print(classification_report(y_test, pred_rf, digits=3))

# 중요도 상위(랜덤포레스트)
rf_model = rf_clf.named_steps["model"]
importances = pd.Series(rf_model.feature_importances_, index=X_train.columns).sort_values(ascending=False)
display(importances.head(20).to_frame("importance"))


# =========================
# 4) 타겟 추출 예시: "이탈 위험 높은 활성/구매자" 리스트
# =========================
# 전체 데이터에 스코어 붙이기
feat_scored = feat.copy()
X_all = feat_scored.drop(columns=[c for c in drop_cols if c in feat_scored.columns])
if "churn" in X_all.columns:
    X_all = X_all.drop(columns=["churn"])

feat_scored["churn_score"] = rf_clf.predict_proba(X_all)[:,1]

# '현재 churn=0(최근 30일 활동 있음)' 이면서 점수 높은 유저 = "곧 이탈 위험"
at_risk = (feat_scored[(feat_scored["churn"]==0)]
           .sort_values("churn_score", ascending=False)
           .head(20))

# 같이 보면 좋은 컬럼만
cols_show = ["visitorid","churn","churn_score","persona","cluster",
             "cnt_all_7d","cnt_all_14d","cnt_all_30d",
             "cnt_view_30d","cnt_addtocart_30d","cnt_transaction_30d",
             "gap_view","gap_addtocart","gap_transaction",
             "frequency","items_bought","recency"]

display(at_risk[[c for c in cols_show if c in at_risk.columns]])